{% extends '::backend.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('change', '#limit-select', function () {
            var limit = $(this).val();
            $.ajax({
                type: 'post',
                url: '{{ path('ls_admin_order_set_limit') }}',
                data: {
                    'limit': limit
                },
                success: function (response) {
                    window.location.pathname = '{{ path('ls_admin_order') }}';
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% if entities|length > 0 %}
                <div class="panel panel-default table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>
                                {{ knp_pagination_sortable(entities, 'Wartość zamówienia', 'e.total_value') }}
                                {% if entities.isSorted('e.total_value') and entities.getDirection() == 'asc' %}
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                {% endif %}
                                {% if entities.isSorted('e.total_value') and entities.getDirection() == 'desc' %}
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                {% endif %}
                            </th>
                            <th>Zamawiający</th>
                            <th>Posiada konto</th>
                            <th>
                                {{ knp_pagination_sortable(entities, 'Data złożenia', 'e.created_at') }}
                                {% if entities.isSorted('e.created_at') and entities.getDirection() == 'asc' %}
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                {% endif %}
                                {% if entities.isSorted('e.created_at') and entities.getDirection() == 'desc' %}
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                {% endif %}
                            </th>
                            <th>Opcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td class="text">{{ entity.getStatusName() }}</td>
                                <td class="text">{{ entity.totalvalue|number_format(2, ',', '') }} zł</td>
                                <td class="text">{{ entity.customerfirstname }} {{ entity.customerlastname }}</td>
                                <td class="text">
                                    {% if entity.user is null %}
                                        <span class="text-danger">Nie</span>
                                    {% else %}
                                        <span class="text-success">Tak</span>
                                    {% endif %}
                                </td>
                                <td class="text">{{ entity.createdat|localizeddate('long', 'short') }}</td>
                                <td class="text-right opcje">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                        <a href="#" class="btn-change-status" title="Zmień status" data-href="{{ path('ls_admin_order_status', {'id': entity.id}) }}">
                                            <i class="glyphicon glyphicon-flag"></i>
                                        </a>
                                        <a href="{{ path('ls_admin_order_show', {'id': entity.id}) }}" title="Szczegóły">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="form-inline">
                                    <div class="pull-right">
                                        <span>Strona {{ page }} z {{ entities.getPageCount }} - {{ entities.getTotalItemCount }} wyników - na stronie</span>
                                        <select id="limit-select" class="form-control">
                                            <option value="15"{% if limit == 15 %} selected="selected"{% endif %}>15</option>
                                            <option value="25"{% if limit == 25 %} selected="selected"{% endif %}>25</option>
                                            <option value="50"{% if limit == 50 %} selected="selected"{% endif %}>50</option>
                                            <option value="100"{% if limit == 100 %} selected="selected"{% endif %}>100</option>
                                            <option value="150"{% if limit == 150 %} selected="selected"{% endif %}>150</option>
                                            <option value="200"{% if limit == 200 %} selected="selected"{% endif %}>200</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% if entities.getPageCount > 1 %}
                            <tr>
                                <td class="pagination-container" colspan="6">
                                    {{ knp_pagination_render(entities) }}
                                </td>
                            </tr>
                        {% endif %}
                        </tfoot>
                    </table>
                </div>
            {% else %}
                <h4 class="text-center">Brak elementów w bazie</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="change-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
