{% extends '::backend.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <div class="btn-group">
                <a href="#" class="btn btn-default btn-change-status" title="Zmień status" data-href="{{ path('ls_admin_order_status', {'id': entity.id}) }}">
                    <i class="glyphicon glyphicon-flag"></i>
                    Zmień status
                </a>
                <a href="{{ path('ls_admin_order') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-list"></i>
                    Powrót do listy
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="col-xs-3 active">Data złożenia zamówienia</td>
                        <td class="col-xs-9">
                            {% if entity.createdat %}
                                {{ entity.createdat|localizeddate('long', 'short') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-3 active">Lista produktów</td>
                        <td class="col-xs-9">
                            <div class="panel panel-default">
                                <table class="table table-bordered" style="width: 100%;">
                                    <tr>
                                        <th>Nazwa</th>
                                        <th>Cena jednostkowa</th>
                                        <th>Ilość</th>
                                        <th>Razem</th>
                                    </tr>
                                    {% for product in entity.orderproducts %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('ls_admin_product_edit',{'id': product.product.id}) }}" target="_blank">{{ product.product.author }} - {{ product.product.title() }}</a>
                                            </td>
                                            <td>{{ product.price | number_format(2, ',', '') }} zł</td>
                                            <td>{{ product.quantity }} szt.</td>
                                            <td>{{ product.total | number_format(2, ',', '') }} zł</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-3 active">Koszty dostawy</td>
                        <td class="col-xs-9">{{ entity.deliverycost|number_format(2, ',', '') }} zł</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3 active">Wartość zamówienia</td>
                        <td class="col-xs-9">{{ entity.totalvalue|number_format(2, ',', '') }} zł</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3 active">Forma płatność</td>
                        <td class="col-xs-9">{{ entity.getPaymentFormName() }}</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3 active">Adres wysyłki</td>
                        <td class="col-xs-9">
                            {{ entity.customerfirstname }} {{ entity.customerlastname }}<br />
                            {{ entity.customerstreet }}<br />
                            {{ entity.customerzip }} {{ entity.customercity }}<br />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-3 active">Użytkownik w systemie</td>
                        <td class="col-xs-9">
                            {% if entity.user is null %}
                                <span>Nie istnieje</span>
                            {% else %}
                                <a href="{{ path('ls_admin_user_edit',{'id': entity.id}) }}" target="_blank">{{ entity.user.username }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-3 active">Status</td>
                        <td class="col-xs-9">{{ entity.getStatusName() }}</td>
                    </tr>
                    </tr>
                    <tr>
                        <td class="col-xs-3 active">Email</td>
                        <td class="col-xs-9">{{ entity.getCustomerEmail() }}</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3 active">Telefon</td>
                        <td class="col-xs-9">{{ entity.getCustomerPhone() }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="change-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
