{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="gridSystemModalLabel">Zmiana statusu zamówienia o ID {{ entity.id }}</h4>
</div>
{{ form_start(form, {'attr': {'id': 'form-change-status', 'novalidate': 'novalidate', 'onsubmit': 'return changeOrderStatus();' }}) }}
<div class="modal-body">
    {{ form_widget(form.status) }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
</div>
{{ form_end(form) }}
