{% extends '::frontend.html.twig' %}

{% block title %}Aktywacja - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Aktywacja</h1>

        {% if entity %}
            <div class="Profile">
                <p class="success">Twoje konto zostało aktywowane.</p>
            </div>
        {% else %}
            <div class="Profile">
                <p class="error" style="padding: 30px 0; margin: 0;">Z podanym identyfikatorem aktywacyjnym nie jest powiązany żaden użytkownik.</p>
            </div>
        {% endif %}
    </div>

    <div class="content_right">
        {% if news_left is not empty %}
            {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
        {% endif %}
    </div>
{% endblock %}
