<h1 class="title">Zmień hasło</h1>

{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'onsubmit': 'return sendChangePassword();', 'id': 'form-change-password' }}) }}
<div class="form-group">
    {{ form_label(form.newPassword.first) }}
    {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-change-password-newPassword-first' }}) }}
</div>

<div class="form-group">
    {{ form_label(form.newPassword.second) }}
    {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-change-password-newPassword-second' }}) }}
</div>
<div class="form-group">
    {{ form_widget(form.submit) }}
</div>
{{ form_end(form) }}
