{% extends '::frontend.html.twig' %}

{% block title %}Zaloguj się - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Zaloguj się</h1>

        <form action="{{ path("ls_user_login_check") }}" method="post" role="form" novalidate="novalidate" class="Profile">
            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'LsUserBundle') }}</div>
            {% endif %}

            <div class="control-group form-group">
                <label for="username">Login:</label>
                <div class="controls">
                    <input id="username" name="_username" value="{{ last_username }}" class="big sonata-medium" type="text">
                </div>
            </div>

            <div class="control-group form-group">
                <label for="password">Hasło:</label>
                <div class="controls">
                    <input id="password" name="_password" class="big sonata-medium" type="password">
                </div>
            </div>
            <div class="form-actions form-group">
                <input class="btn btn-primary" id="_submit" name="_submit" type="submit" value="Zaloguj" type="submit">
            </div>
        </form>
    </div>

    <div class="content_right">
        {% if news_left is not empty %}
            {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
        {% endif %}
    </div>
{% endblock %}
