{% extends '::frontend.html.twig' %}

{% block title %}Profil - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            var errors = {{ errors|json_encode|raw }};

            $('div[id^="qtip-"]').each(function () {
                _qtip2 = $(this).data("qtip");
                if (_qtip2 != undefined) {
                    _qtip2.destroy(true);
                }
            });

            for (var index in errors) {
                var error = errors[index];

                if (typeof error == 'string') {
                    $('.form-register-' + index).qtip({
                        content: {
                            title: null,
                            text: error
                        },
                        position: {
                            my: 'bottom left',
                            at: 'top right',
                            adjust: {
                                x: -30
                            }
                        },
                        show: {
                            ready: true,
                            event: false
                        },
                        hide: {
                            event: 'click focus unfocus'
                        },
                        style: {
                            classes: 'qtip-red qtip-rounded qtip-shadow'
                        }
                    });
                } else {
                    for (var subindex in error) {
                        var suberror = error[subindex];

                        if (typeof suberror == 'string') {
                            $('.form-register-' + index + '-' + subindex).qtip({
                                content: {
                                    title: null,
                                    text: suberror
                                },
                                position: {
                                    my: 'bottom left',
                                    at: 'top right',
                                    adjust: {
                                        x: -30
                                    }
                                },
                                show: {
                                    ready: true,
                                    event: false
                                },
                                hide: {
                                    event: 'click focus unfocus'
                                },
                                style: {
                                    classes: 'qtip-red qtip-rounded qtip-shadow'
                                }
                            });
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Profil</h1>

        {{ form_start(form, {'attr': {'class': 'Profile', 'novalidate': 'novalidate' }}) }}
        <div class="form-group">
            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname, {'attr': {'class': 'form-register-firstname' }}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.lastname) }}
            {{ form_widget(form.lastname, {'attr': {'class': 'form-register-lastname' }}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone, {'attr': {'class': 'form-register-phone' }}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-register-email' }}) }}
        </div>

        <div class="form-group marginTop25">
            {{ form_label(form.street) }}
            {{ form_widget(form.street, {'attr': {'class': 'form-register-street' }}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.zip) }}
            {{ form_widget(form.zip, {'attr': {'class': 'form-register-zip' }}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.city) }}
            {{ form_widget(form.city, {'attr': {'class': 'form-register-city' }}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>

    <div class="content_right">
        {% if news_left is not empty %}
            {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
        {% endif %}
    </div>
{% endblock %}
