{% extends '::frontend.html.twig' %}

{% block title %}Rejestracja - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            var errors = {{ errors|json_encode|raw }};

            $('div[id^="qtip-"]').each(function () {
                _qtip2 = $(this).data("qtip");
                if (_qtip2 != undefined) {
                    _qtip2.destroy(true);
                }
            });

            showErrors(errors, 'register');

        });
    </script>
{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Rejestracja</h1>

        {% if success %}
            <div class="Profile">
                <p class="success">Dziękujemy za rejestrację.<br />Wiadomość e-mail z linkiem aktywacyjnym została wysłana.</p>
            </div>
        {% else %}
            {{ form_start(form, {'attr': {'class': 'Profile', 'novalidate': 'novalidate' }}) }}
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-register-username' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first, {'attr': {'class': 'form-register-password-first' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second, {'attr': {'class': 'form-register-password-second' }}) }}
            </div>

            <div class="form-group marginTop25">
                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname, {'attr': {'class': 'form-register-firstname' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.lastname) }}
                {{ form_widget(form.lastname, {'attr': {'class': 'form-register-lastname' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone, {'attr': {'class': 'form-register-phone' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-register-email' }}) }}
            </div>

            <div class="form-group marginTop25">
                {{ form_label(form.street) }}
                {{ form_widget(form.street, {'attr': {'class': 'form-register-street' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.zip) }}
                {{ form_widget(form.zip, {'attr': {'class': 'form-register-zip' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.city) }}
                {{ form_widget(form.city, {'attr': {'class': 'form-register-city' }}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        {% endif %}
    </div>

    <div class="content_right">
        {% if news_left is not empty %}
            {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
        {% endif %}
    </div>
{% endblock %}
