<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="ShopApplication">
<head>
    {% block meta %}
        <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/lscore/js/jquery-ui/jquery-ui.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lscore/js/fileupload/css/jquery.fileupload.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lscore/js/qtip/jquery.qtip.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lscore/css/other.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lscore/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lscore/css/shop.css') }}" type="text/css" media="all" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('bundles/lscore/images/favicon.jpg') }}" />
</head>
{% set menuTop = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_top'}) %}
{% set menuBottom = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_bottom'}) %}
{% set currentRoute = app.request.attributes.get('_route') %}
<body data-ng-controller="ShopController as shop">
<div id="top" class="top-shop">
    <a class="logo" title="RegioRecords" href="{{ path('ls_core_homepage') }}">
        <img src="{{ asset('bundles/lscore/images/logo.png') }}" alt="RegioRecords" />
    </a>
    <a class="fb" title="Facebook" target="_blank" href="{{ cms_config.get('url_facebook', '') }}"></a>
    <a class="yt" title="Youtube" target="_blank" href="{{ cms_config.get('url_youtube', '') }}"></a>
    <a class="tw" title="Twitter" target="_blank" href="{{ cms_config.get('url_twitter', '') }}"></a>
    <a class="sk" title="Skype" target="_blank" href="{{ cms_config.get('url_skype', '') }}"></a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href class="button-rounded logged-user visible-desktop">{{ app.user.username }}<i class="arrow-down"></i></a>
        <ul class="user-menu visible-desktop">
            <li>
                <a href="{{ path('ls_user_profile') }}">Profil</a>
            </li>
            <li>
                <a href="{{ path('ls_order') }}">Zamówienia</a>
            </li>
            <li>
                <a class="change-password-btn" href="#changePassword">Zmień hasło</a>
            </li>
            <li>
                <a href="{{ path('ls_user_logout') }}">Wyloguj</a>
            </li>
        </ul>
    {% else %}
        <a href="{{ path('ls_user_register') }}" class="button-rounded create-account visible-desktop">Załóż konto</a>
        <a href="{{ path('ls_user_login') }}" class="button-rounded sign-in visible-desktop">Zaloguj się</a>
    {% endif %}
    <a href="{{ path('ls_basket') }}" class="mobile-basket hidden-desktop">{{ '{{ shop.totalWithDeliveryString }}' }}</a>
    <div id="show-hide-menu" class="hidden-desktop"></div>
    <div id="menu-mobile-container">
        <div id="menu-mobile">
            <ul id="user-top">
                {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="hidden-desktop user-info">
                        Zalogowany jako: <span>{{ app.user.username }}</span>
                    </li>
                    <li class="hidden-desktop">
                        <a href="{{ path('ls_user_profile') }}">Profil</a>
                    </li>
                    <li class="hidden-desktop">
                        <a href="{{ path('ls_order') }}">Zamówienia</a>
                    </li>
                    <li class="hidden-desktop">
                        <a class="change-password-btn" href="#changePassword">Zmień hasło</a>
                    </li>
                    <li class="hidden-desktop">
                        <a href="{{ path('ls_user_logout') }}">Wyloguj</a>
                    </li>
                {% else %}
                    <li class="hidden-desktop">
                        <a href="{{ path('ls_user_register') }}">Załóż konto</a>
                    </li>
                    <li class="hidden-desktop menu-login">
                        <a href="{{ path('ls_user_login') }}">
                            <img src="{{ asset('bundles/lscore/images/icon_lock.png') }}" />Zaloguj się
                        </a>
                    </li>
                {% endif %}
            </ul>
            {{ knp_menu_render(menuTop) }}
        </div>
    </div>
    <div id="menu-desktop">
        {{ knp_menu_render(menuTop) }}
    </div>
    <div class="clear"></div>
</div>

<div id="content">
    {% block body %}
    {% endblock %}
    <div class="black_mask"></div>
    <div class="clear"></div>
    <div id="footer">
        {{ knp_menu_render(menuBottom) }}
        <div class="copyrights">
            © 2014, <a title="RegioRecords" href="{{ path('ls_core_homepage') }}">RegioRecords</a>
            All rights reserved.
        </div>
    </div>
</div>

<div class="send_demo">
    <div class="content">
        {% include "LsDemoBundle::demo_form.html.twig" with {'form': demo_form} %}
    </div>
</div>

{% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div id="changePassword">
        {% include "LsUserBundle:Security:change_password.html.twig" with {'form': change_password_form} %}
    </div>
{% endif %}

{% block javascripts %}
    <script src="{{ asset('bundles/lscore/js/jquery-1.11.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/fileupload/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/fileupload/js/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/qtip/jquery.qtip.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/jquery.leanModal.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/angular-1.4.8.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/ngStorage.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/shopApp.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/scripts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/shop.js') }}" type="text/javascript"></script>
    <script>
        var shopApiUrl = '{{ url('ls_core_homepage') }}';

        $(document).ready(function () {
            $('#add_attachment').fileupload({
                dataType: 'json',
                maxNumberOfFiles: 1,
                formData: [{name: 'custom_dir', value: '{{ temporary_file_folder }}' + '/'}],
                start: function (e, data) {
                    $('.send_demo').find('.upload-progress').show();
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('.send_demo').find('.bar').css(
                            'width',
                            progress + '%'
                    );
                },
                done: function (e, data) {
                    $('.send_demo').find('.upload-progress').hide();
                    $.each(data.result.files, function (index, file) {
                        filename = file.name;
                    });
                    $.ajax({
                        type: 'post',
                        url: '{{ path('ls_core_temporary_file_upload') }}',
                        data: {
                            'filename': filename
                        },
                        success: function (response) {
                            $('#demo-files').append(response);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
</body>
</html>
