{% extends '::frontend.html.twig' %}

{% block title %}Sklep - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Sklep</h1>
        <div class="shop_items Shop">

            {% for entity in entities %}
                <div class="item">
                    <a class="item-album" href="{{ path('ls_product_show', {'slug' : entity.slug}) }}">
                        <span class="picture">
                            <img src="{{ entity.getThumbWebPath('list') }}" alt="">
                        </span>

                        {% if entity.author is defined and entity.author|length > 0 %}
                            <p>Autor: <span>{{ entity.author }}</span></p>
                        {% endif %}
                        {% if entity.title is defined and entity.title|length > 0 %}
                            <p>Tytuł: <span>"{{ entity.title }}"</span></p>
                        {% endif %}

                        <p class="margin-bottom-5">Cena:</p>

                        <p class="price">
                            {{ entity.price | number_format(2,',',' ') }} zł
                        </p>
                    </a>
                    <a class="item-basket" data-ng-click="shop.addToBasket({{ entity.id }})">Do koszyka</a>
                </div>
            {% endfor %}

            <div class="clear"></div>
        </div>
    </div>

    <div class="content_right">
        {% if news_left is not empty %}
            {% include "LsCoreBundle:Default:sklep_left.html.twig" with { news: random(news_left) } %}
        {% endif %}
    </div>
{% endblock %}
