{% extends '::frontend.html.twig' %}

{% block title %}Sklep - {{ entity.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ parent() }} {{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ parent() }} {{ entity.seokeywords }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Sklep</h1>

        <div class="Shop">
            <div class="Shop-cover">
                <img class="desktop" src="{{ entity.getThumbWebPath('detail_desktop') }}" />
                <img class="tablet" src="{{ entity.getThumbWebPath('detail_tablet') }}" />
                <img class="mobile" src="{{ entity.getThumbWebPath('detail_mobile') }}" />

                <div class="Shop-price">
                    Cena: <br />

                    <p>{{ entity.price | number_format(2,',',' ') }} zł</p>
                </div>

                <div class="Shop-light-bg"></div>

                <a class="Shop-add-to-basket" data-ng-click="shop.addToBasket({{ entity.id }})">
                    <img src="{{ asset('bundles/lscore/images/basket_icon.png') }}" />
                </a>
            </div>

            <div class="Shop-main-details">
                {% if entity.author is defined and entity.author|length > 0 %}
                    <p>Autor: <span>{{ entity.author }}</span></p>
                {% endif %}

                {% if entity.title is defined and entity.title|length > 0 %}
                    <p>Tytuł: <span>"{{ entity.title }}"</span></p>
                {% endif %}

                {% if entity.premier is defined %}
                    <p>Data premiery: <span>{{ entity.premier | date('d.m.Y') }} r.</span></p>
                {% endif %}
            </div>

            <div class="Shop-more-details">
                {{ entity.content | raw }}
            </div>

        </div>
    </div>

    <div class="content_right">
        {% if news_left is not empty %}
            {% include "LsCoreBundle:Default:sklep_left.html.twig" with { news: random(news_left) } %}
        {% endif %}
    </div>
{% endblock %}
