{% extends '::frontend.html.twig' %}

{% block title %}Aktualności - {{ parent() }}{% endblock %}

{% block content %}
    {% include "LsNewsBundle:Front:list.html.twig" with {'entities': entities} %}
{% endblock %}
