{% for article in entities %}
    <div class="item">
        {% if article.getPhotoWebPath != null %}
            <div class="photo">
                <img src="{{ article.getThumbWebPath('list') }}?{{ random(10000) }}" />
            </div>
        {% endif %}
        <div class="rest{% if article.getPhotoWebPath != null %} has-photo{% endif %}">
            <div class="date">{{ article.publishedat|date('d.m.Y') }}</div>
            <a href="{{ path('ls_news_show', {'slug': article.slug}) }}" class="title">{{ article.title }}</a>

            <div class="text">{{ article.contentshort }}</div>
            <a href="{{ path('ls_news_show', {'slug': article.slug}) }}" class="more">czytaj dalej</a>
        </div>
        <div class="clearfix"></div>
    </div>
{% endfor %}
