{% extends '::frontend.html.twig' %}

{% block title %}Aktualności - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div class="item">
        {% if entity.getPhotoWebPath != null %}
            <div class="photo">
                <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}" />
            </div>
        {% endif %}
        <div class="rest{% if entity.getPhotoWebPath != null %} has-photo{% endif %}">
            <div class="date">{{ entity.publishedat|date('d.m.Y') }}</div>
            <div class="title">{{ entity.title }}</div>

            <div class="separator"></div>
            <div class="content-text">{{ entity.content|raw }}</div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
