{% extends '::backend.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var old_location = '';

        var edit_url = '{{ path('ls_admin_menu_edit', {id: 'ID'}) }}';

        $(document).on('click', '.close', function () {
            $('ol.sortable li div').removeClass('editing');
            $('ol.not-sortable li div').removeClass('editing');
            $('#menu-item-edit').html('');
        });

        $(document).on('click', '.menu-group-link', function () {
            if ($(this).attr('id').replace('a_', '') !== old_location) {
                old_location = $(this).attr('id').replace('a_', '');
                $('ol.sortable li div').removeClass('editing');
                $('ol.not-sortable li div').removeClass('editing');
                $('#menu-item-edit').html('');
            }
        });

        $(document).on('click', 'ol.sortable li div', function () {
            var id = $(this).parent('li').attr('id').substr(5);
            var url = edit_url.replace('ID', id);

            $('ol.sortable li div').removeClass('editing');
            $('ol.not-sortable li div').removeClass('editing');
            $(this).addClass('editing');
//            $('#menu-item-edit').load(url);
            $.ajax({
                type: 'POST',
                url: url,
                success: function (response) {
                    if (response.result === 'OK') {
                        $('#menu-item-edit').html(response.html)
                    }
                }
            });
        });

        $(document).on('click', 'ol.not-sortable li div', function () {
            var location = $(this).parent().attr('id').replace('list_new_', '');

            $('ol.sortable li div').removeClass('editing');
            $('ol.not-sortable li div').removeClass('editing');
            $(this).addClass('editing');

            $.ajax({
                type: 'POST',
                url: '{{ path('ls_admin_menu_new') }}',
                data: {
                    location: location
                },
                success: function (response) {
                    if (response.result === 'OK') {
                        $('#menu-item-edit').html(response.html)
                    }
                }
            });
        });

        $(document).on('click', '#confirm-delete .btn-ok', function (event) {
            var url = $('#delete-button').data('href');

            $.ajax({
                type: 'POST',
                url: url,
                success: function (response) {
                    if (response.result === 'OK') {
                        window.location.reload();
                    } else {
                        $('form#form_admin_menuitem').parent('div').parent('div').parent('div').html(response);
                    }
                }
            });
        });

        $(document).ready(function () {
            old_location = $('.nav-tabs').children('.active').children('.menu-group-link').attr('id').replace('a_', '');

            var ns = $('ol.sortable').nestedSortable({
                forcePlaceholderSize: true,
                handle: 'div',
                helper: 'clone',
                items: 'li',
                opacity: .6,
                placeholder: 'placeholder',
                revert: 250,
                tabSize: 25,
                tolerance: 'pointer',
                toleranceElement: '> div',
                maxLevels: 4,
                isTree: true,
                expandOnHover: 700,
                startCollapsed: false,
                relocate: function (event) {
                    var list = JSON.stringify($(event.target).nestedSortable('toHierarchy'));
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('ls_admin_menu_saveorder') }}',
                        data: {
                            elements: list
                        },
                        success: function (response) {
                            if (response === 'OK') {
                                window.location.reload();
                            } else {
                                alert('Wystąpił błąd podczas zapisywania kolejności.')
                            }
                        }
                    });
                }
            });

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (event) {
                var tab = $(event.target).attr('id').replace('a_', '');

                $.ajax({
                    type: 'POST',
                    url: '{{ path('ls_admin_menu_set_tab') }}',
                    data: {
                        tab: tab
                    }
                });
            })
        });
    </script>
{% endblock %}

{% block nested_list_elements %}
    {% for element in elements %}
        <li id="list_{{ element.id }}">
            <div id="list_item_{{ element.id }}">{{ element.title }}</div>
            <ol>
                {% if element.getChildren|length > 0 %}
                    {% set elements = element.getChildren %}
                    {{ block('nested_list_elements') }}
                {% endif %}
            </ol>
        </li>
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">{{ wo_render_breadcrumbs() }}</div>
    </div>

    <div class="row">
        <div id="menu-edit-lists" class="col-md-4" style="margin-bottom: 1em;">
            <ul class="nav nav-tabs pills">
                {% for mname, menu in menus %}
                    <li class="{% if mname == tab %}active{% endif %}">
                        <a data-toggle="tab" class="menu-group-link" id="a_{{ mname }}" href="#menu-{{ mname }}">{{ menu.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for mname, menu in menus %}
                    <div id="menu-{{ mname }}" class="tab-pane {% if mname == tab %}active{% endif %}">
                        <ol class="sortable">
                            {% set elements = menu.items %}
                            {{ block('nested_list_elements') }}
                        </ol>

                        <ol class="not-sortable breadcrumb">
                            <li class="new" id="list_new_{{ mname }}">
                                <div>Dodaj nowy ...</div>
                            </li>
                        </ol>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="menu-item-edit" class="col-md-8" style="margin-bottom: 1em;"></div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h4>Usuwanie elementu menu</h4></div>
                <div class="modal-body">Razem z tym elementem usuniętę zostaną jego elementy potomne. Czy napewno chcesz usunąć ten element menu?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <a class="btn btn-danger btn-ok-delete">Usuń</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
