{% extends '::frontend.html.twig' %}

{% block title %}Zamówienia - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Zamówienia</h1>

        <div class="Orders">
            {% for entity in entities %}
                <div class="Orders-item">
                    <p class="Orders-item-title">
                        <span class="strong">Zamówienie nr {{ entity.id }}</span> z dnia {{ entity.createdat|date('d.m.Y') }}
                    </p>

                    <div class="pull-left">
                        {% for product in entity.orderproducts %}
                        <p>
                            <span class="strong">{{ product.product.author }}, "{{ product.product.title }}"</span> x {{ product.quantity }}
                        </p>
                        {% endfor %}
                    </div>
                    <div class="pull-left">
                        <p>
                            Forma dostawy: <span class="strong">Kurier ({{ entity.deliverycost|number_format(2, ',', '') }} zł)</span>
                        </p>

                        <p>
                            Forma płatności: <span class="strong">{{ entity.getPaymentFormName() }}</span>
                        </p>

                        <p>
                            Do zapłaty: <span class="strong Orders-item-sum">{{ entity.totalvalue|number_format(2, ',', '') }} zł</span>
                        </p>

                        <p class="Orders-item-status">
                            <span class="strong">Status:</span>
                            <span class="{{ entity.getStatusClass() }}">{{ entity.getStatusName() }}</span>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
        </div>
        <div class="loadmoreajaxloader" style="display:none;">
            <img src="{{ asset('bundles/lscore/images/loader.gif') }}" />
        </div>
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var orders_loading = false;
        var orders_loading_page = 1;
        var orders_loading_allow = {{ allow }};

        $(window).scroll(function () {
            if ($(window).scrollTop() > ($(document).height() - $(window).height() - $('#footer').outerHeight() + 60)) {
                if (orders_loading_allow == true && orders_loading == false) {
                    orders_loading = true;
                    $('.loadmoreajaxloader').show();
                    $.ajax({
                        type: 'post',
                        url: '{{ path('ls_order_more') }}',
                        data: {
                            page: orders_loading_page
                        },
                        success: function (response) {
                            orders_loading_page++;
                            orders_loading_allow = response.allow;
                            $(".Orders").append(response.html);
                            $('.loadmoreajaxloader').hide();
                            orders_loading = false;
                        }
                    });
                }
            }
        });
    </script>
{% endblock %}
