{% for entity in entities %}
    <div class="Orders-item">
        <p class="Orders-item-title">
            <span class="strong">Zamówienie nr {{ entity.id }}</span> z dnia {{ entity.createdat|date('d.m.Y') }}
        </p>

        <div class="pull-left">
            {% for product in entity.orderproducts %}
                <p>
                    <span class="strong">{{ product.product.author }}, "{{ product.product.title }}"</span> x {{ product.quantity }}
                </p>
            {% endfor %}
        </div>
        <div class="pull-left">
            <p>
                Forma dostawy: <span class="strong">Kurier ({{ entity.deliverycost|number_format(2, ',', '') }} zł)</span>
            </p>

            <p>
                Forma płatności: <span class="strong">{{ entity.getPaymentFormName() }}</span>
            </p>

            <p>
                Do zapłaty: <span class="strong Orders-item-sum">{{ entity.totalvalue|number_format(2, ',', '') }} zł</span>
            </p>

            <p class="Orders-item-status">
                <span class="strong">Status:</span>
                <span class="{{ entity.getStatusClass() }}">{{ entity.getStatusName() }}</span>
            </p>
        </div>
        <div class="clear"></div>
    </div>
{% endfor %}
