{% extends '::frontend.html.twig' %}

{% block title %}Płatność PayU - Błąd - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title narrow">Płatność PayU - Błąd</h1>

        <div class="Thanks">
            <p>Płatność PayU zakończona błędem "{{ error }}". Wiadomość email z instrukcją dalszego postępowania zostanie wysłana po odebraniu statusu płatności PayU.</p>
        </div>
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}
