{% extends '::frontend.html.twig' %}

{% block title %}Koszyk - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}
