{% extends '::frontend.html.twig' %}

{% block title %}Katalog - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Katalog</h1>

        <div class="katalog_items">
            {% for entity in entities %}
                <div class="item">
                    <a class="picture" href="{{ path('ls_catalog_show', {'slug' : entity.slug}) }}">
                        <img src="{{ entity.getThumbWebPath('list') }}" alt="">
                    </a>

                    {% if entity.author is defined and entity.author|length > 0 %}
                        <p>Autor: <span>{{ entity.author }}</span></p>
                    {% endif %}
                    {% if entity.title is defined and entity.title|length > 0 %}
                        <p>Tytuł: <span>"{{ entity.title }}"</span></p>
                    {% endif %}
                    {% if entity.premier is defined %}
                        <p>Data premiery: <span>{{ entity.premier | date('d.m.Y') }}r.</span></p>
                    {% endif %}
                    <a class="more" href="{{ path('ls_catalog_show', {'slug' : entity.slug}) }}">Czytaj więcej</a>
                </div>
            {% endfor %}
            <div class="clear"></div>
        </div>
    </div>

    <div class="content_right">
        {% if news_left is not empty %}
            {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
        {% endif %}
    </div>
{% endblock %}
