{% extends '::frontend.html.twig' %}

{% block title %}Katalog - {{ entity.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ parent() }} {{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ parent() }} {{ entity.seokeywords }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Katalog</h1>

        <div class="katalog_item_details">
            <a class="photo">
                <img class="desktop" src="{{ entity.getThumbWebPath('detail_desktop') }}" />
                <img class="mobile" src="{{ entity.getThumbWebPath('detail_mobile') }}" />
            </a>

            <div class="white_text">
                {% if entity.author is defined and entity.author|length > 0 %}
                    <p>Autor: <span>{{ entity.author }}</span></p>
                {% endif %}

                {% if entity.title is defined and entity.title|length > 0 %}
                    <p>Tytuł: <span>"{{ entity.title }}"</span></p>
                {% endif %}

                {% if entity.premier is defined %}
                    <p>Data premiery: <span>{{ entity.premier | date('d.m.Y') }} r.</span></p>
                {% endif %}
            </div>
            <div class="text">
                {{ entity.content | raw }}
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="content_right">
        {% if news_left is not empty %}
            {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
        {% endif %}
    </div>
{% endblock %}
