{% extends '::backend.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_demo') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="col-xs-3 active">Imię/Nazwa zespołu</td>
                        <td class="col-xs-9">{{ entity.name }}</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3 active">Adres e-mail</td>
                        <td class="col-xs-9">{{ entity.email }}</td>
                    </tr>
                    <tr>
                        <td class="col-xs-3 active">Data wysłania</td>
                        <td class="col-xs-9">
                            {% if entity.createdat %}
                                {{ entity.createdat|localizeddate('long', 'short') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-3 active">Treść</td>
                        <td class="col-xs-9">{{ entity.content|nl2br }}</td>
                    </tr>
                    {% if entity.attachments is defined and entity.attachments|length > 0 %}
                        <tr>
                            <td class="col-xs-3 active">Załączniki</td>
                            <td class="col-xs-9">
                                {% for attachment in entity.attachments %}
                                    <a href="{{ attachment.getAttachmentWebPath() }}" target="_blank">{{ attachment.name }}</a>
                                    {% if not loop.last %}
                                        <br/>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}