@import './font/font.css';

.editor {
    background-color: #1D0102;
    padding-left: 43px;
    padding-top: 20px;
    width: 560px;
}

.editor p {
    font-family: "latoregular";
    line-height: 22px;
    font-size: 14px;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.editor strong,
.editor b {
    font-family: "latobold";
}
