@import './font/font.css';

.editor {
    background-color: #FFEFCC;
    padding-left: 43px;
    padding-top: 20px;
    width: 560px;
}

.editor p {
    font-family: "latoregular";
    line-height: 22px;
    font-size: 14px;
    color: #252525;
    padding: 0;
    margin: 0;
}

.editor strong,
.editor b {
    font-family: "latobold";
}

.editor a {
    text-decoration: none;
    cursor: pointer;
    color: #820101;
}

.editor a:hover {
    text-decoration: underline;
}

