/* ::::: http://www.regiorecords.pl/bundles/lscms/css/ui-theme/jquery-ui-1.10.4.custom.min.css ::::: */

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix::after {
    clear: both;
}

input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ::::: http://www.regiorecords.pl/bundles/lscms/js/fileupload/css/jquery.fileupload.css ::::: */

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

@media screen {
    .fileinput-button input {
        font-size: 100%;
        height: 100%;
    }
}

/* ::::: http://www.regiorecords.pl/bundles/lscms/js/qtip/jquery.qtip.min.css ::::: */

.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar {
    filter: none;
}

