.send_demo_link, .Profile .form-group button[type=submit],
.Profile .form-group input[type=submit], .Main-btn, #changePassword button {
  display: block;
  width: 180px;
  background: transparent url("../images/send_demo_button.png") no-repeat scroll left top;
  font-family: "source_sans_probold";
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 1px #290406;
  margin: 0px auto;
  text-align: center;
  line-height: 21px;
  height: 21px;
  padding: 19px 0px 15px; }

.send_demo_link:hover, .Profile .form-group button[type=submit]:hover,
.Profile .form-group input[type=submit]:hover, .Main-btn:hover, #changePassword button:hover {
  color: #ffefcc;
  text-decoration: none; }

#content .content_left .shop_items {
  margin: 0px 0px 18px; }

#content .content_left .shop_items .item {
  width: 256px;
  height: 243px;
  float: left;
  border: 1px solid #2c0304;
  margin: 0px 17px 17px 0px; }

#content .content_left .shop_items .item:nth-child(2n) {
  margin: 0px 0px 17px; }

#content .content_left .shop_items .item .item-album .picture {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 21px 15px; }

#content .content_left .shop_items .item .item-album .picture img {
  display: block;
  padding: 0px;
  margin: 0px; }

#content .content_left .shop_items .item .item-album p {
  margin: 0px 21px 8px;
  padding: 0px;
  font-family: "latolight";
  font-size: 14px; }

#content .content_left .shop_items .item .item-album p span {
  font-family: "latobold"; }

#content .content_left .shop_items .item .item-album:hover {
  background: #2c0304 none repeat scroll 0% 0%; }

#content .content_left .shop_items * {
  box-sizing: border-box; }
#content .content_left .shop_items .item {
  position: relative; }
  #content .content_left .shop_items .item-album {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 21px; }
    #content .content_left .shop_items .item-album:hover {
      text-decoration: none; }
    #content .content_left .shop_items .item-album p.margin-bottom-5 {
      margin-bottom: 5px; }
    #content .content_left .shop_items .item-album p.price {
      color: #f53546;
      font-size: 21px;
      margin-bottom: 0; }
  #content .content_left .shop_items .item-basket {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: #1d0102;
    font-size: 14px;
    color: #ffefcc;
    padding: 10px 18px;
    border-top: 1px solid #2c0304;
    border-left: 1px solid #2c0304;
    cursor: pointer; }
    #content .content_left .shop_items .item-basket:hover {
      text-decoration: none;
      background: #2c0304; }
#content .row {
  width: auto; }
  #content .row .basket {
    float: left;
    width: 320px;
    min-height: 364px;
    background: #2a0103 url("../images/basket_bg.png") no-repeat scroll left top;
    position: relative;
    padding: 45px 35px;
    box-sizing: border-box; }
    #content .row .basket * {
      box-sizing: border-box; }
    #content .row .basket h1 {
      color: #ffefcc;
      font-family: "latolight";
      font-weight: normal;
      font-size: 44px;
      line-height: 48px;
      padding: 0;
      margin: 0 0 25px 0; }
    #content .row .basket .seperator {
      width: 94px;
      height: 3px;
      background: white;
      margin: 15px 0; }
    #content .row .basket .to-pay {
      font-family: "latolight";
      font-size: 14px;
      margin: 0; }
    #content .row .basket .to-pay-price {
      margin: 3px 0 0 0;
      color: #f53546;
      font-size: 21px; }
    #content .row .basket-entry {
      font-family: "latolight";
      font-size: 14px; }
      #content .row .basket-entry span {
        font-family: "latobold"; }
    #content .row .basket .go-to-basket {
      display: block;
      width: 180px;
      background: transparent url("../images/send_demo_button.png") no-repeat scroll left top;
      font-family: "source_sans_probold";
      font-size: 14px;
      text-transform: uppercase;
      color: white;
      text-shadow: 0px 1px #290406;
      margin: 32px auto 0 auto;
      text-align: center;
      line-height: 21px;
      height: 53px;
      padding: 17px 0px 15px; }
      #content .row .basket .go-to-basket:hover {
        color: #ffefcc;
        text-decoration: none; }

#top.top-shop #menu_top .user-info {
  font-size: 14px;
  font-family: 'latolight';
  text-align: right;
  padding-top: 20px; }
  #top.top-shop #menu_top .user-info span {
    font-family: 'latobold'; }
#top.top-shop.logged-in .fb {
  right: 170px; }
#top.top-shop .fb {
  right: 250px;
  top: 24px; }
#top.top-shop .yt {
  right: 280px;
  top: 24px; }
#top.top-shop .tw {
  right: 310px;
  top: 24px; }
#top.top-shop .sk {
  right: 340px;
  top: 24px; }
#top.top-shop .button-rounded {
  box-sizing: border-box;
  font-size: 13px;
  font-family: 'latobold';
  color: white;
  display: block;
  width: 110px;
  height: 30px;
  border: 2px solid white;
  border-radius: 35px;
  position: absolute;
  top: 18px;
  text-align: center;
  padding-top: 5px; }
  #top.top-shop .button-rounded * {
    box-sizing: border-box; }
  #top.top-shop .button-rounded.sign-in {
    right: 0; }
  #top.top-shop .button-rounded.create-account {
    right: 120px; }
  #top.top-shop .button-rounded.logged-user {
    right: 0;
    display: inline-block;
    width: 150px;
    padding: 5px 20px 0 20px;
    z-index: 10; }
    #top.top-shop .button-rounded.logged-user:hover, #top.top-shop .button-rounded.logged-user:active, #top.top-shop .button-rounded.logged-user:focus {
      outline: none; }
  #top.top-shop .button-rounded:hover, #top.top-shop .button-rounded.whiteFill {
    background: white;
    color: black;
    text-decoration: none; }
    #top.top-shop .button-rounded:hover .arrow-down, #top.top-shop .button-rounded.whiteFill .arrow-down {
      border-top: 4px solid black; }
  #top.top-shop .button-rounded .arrow-down {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid white;
    position: absolute;
    top: 11px;
    right: 9px; }
#top.top-shop .user-menu {
  display: none;
  background: #731720;
  list-style: none;
  position: absolute;
  right: 0;
  top: 19px;
  width: 150px;
  color: white;
  font-size: 13px;
  font-family: 'latobold';
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px; }
  #top.top-shop .user-menu li {
    margin-top: 10px; }

.Profile .error {
  padding: 0 0 20px 60px;
  text-align: center;
  color: #99393e; }
.Profile .success {
  text-align: center;
  padding: 30px 0;
  color: #fff;
  margin: 0; }
.Profile .form-group {
  height: 65px; }
  @media screen and (max-width: 639px) {
    .Profile .form-group {
      height: auto; } }
  .Profile .form-group.marginTop25 {
    margin-top: 25px; }
  .Profile .form-group label {
    font-size: 14px;
    text-align: right;
    font-family: 'latobold';
    width: 105px;
    margin-right: 22px;
    display: block;
    float: left;
    margin-top: 19px; }
    @media screen and (max-width: 639px) {
      .Profile .form-group label {
        text-align: center;
        width: 100%;
        float: none;
        margin-bottom: 5px; } }
    .Profile .form-group label.marginTop5 {
      margin-top: 7px; }
      @media screen and (max-width: 639px) {
        .Profile .form-group label.marginTop5 {
          margin-top: 45px; } }
  .Profile .form-group input[type=text], .Profile .form-group input[type=password] {
    width: 335px;
    background: #2a0103;
    padding: 18px;
    color: white;
    border: 1px solid #512a2c;
    transition: all 0.2s;
    border-radius: 50px;
    font-size: 14px;
    text-align: center; }
    .Profile .form-group input[type=text]:focus, .Profile .form-group input[type=password]:focus {
      border-color: #99393e; }
    @media screen and (max-width: 979px) and (min-width: 640px) {
      .Profile .form-group input[type=text], .Profile .form-group input[type=password] {
        width: 295px; } }
    @media screen and (max-width: 639px) {
      .Profile .form-group input[type=text], .Profile .form-group input[type=password] {
        width: 222px; } }
  .Profile .form-group button[type=submit],
  .Profile .form-group input[type=submit] {
    border: 0;
    height: 53px;
    padding: 17px;
    margin-top: 40px;
    cursor: pointer; }
    @media screen and (max-width: 639px) {
      .Profile .form-group button[type=submit],
      .Profile .form-group input[type=submit] {
        margin-bottom: 20px; } }

.marginTop35 {
  margin-top: 35px; }

.Main-btn {
  display: inline-block !important;
  margin: 0 !important;
  padding-top: 17px; }

.pullRightABit {
  margin-left: 260px; }
  @media screen and (max-width: 979px) and (min-width: 640px) {
    .pullRightABit {
      margin-left: 220px; } }
  @media screen and (max-width: 639px) {
    .pullRightABit {
      margin-left: 0px;
      text-align: center; } }

.pullRightABitLess {
  margin-left: 120px; }
  @media screen and (max-width: 639px) {
    .pullRightABitLess {
      margin-left: 0 !important;
      text-align: center; }
      .pullRightABitLess .Main-btn {
        margin-bottom: 10px; } }

.seperator {
  width: 3px;
  height: 35px;
  display: inline-block;
  background: #2b0304;
  vertical-align: middle;
  margin: 0 23px; }

.Link-btn {
  display: inline-block; }

.Orders .pull-left {
  float: left;
  width: 50%; }
  @media screen and (max-width: 639px) {
    .Orders .pull-left {
      float: none;
      width: 100%; } }
.Orders-item {
  border: 1px solid #2c0304;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'latolight';
  transition: all 0.2s; }
  @media screen and (max-width: 639px) {
    .Orders-item > div:nth-child(2) {
      margin-bottom: 20px; } }
  .Orders-item:hover {
    border-color: #99393e; }
  .Orders-item .strong {
    font-family: 'latobold'; }
  .Orders-item p {
    margin-top: 0;
    margin-bottom: 5px; }
  .Orders-item-status {
    margin: 25px 0 15px 0 !important;
    font-family: 'latobold'; }
    @media screen and (max-width: 639px) {
      .Orders-item-status {
        margin-bottom: 0 !important; } }
    .Orders-item-status-new {
      color: #eb7400; }
    .Orders-item-status-confirmed {
      color: #00f0ff; }
    .Orders-item-status-waiting {
      color: #f53546; }
    .Orders-item-status-in-progress {
      color: #15a1db; }
    .Orders-item-status-realised {
      color: #09cd5c; }
  .Orders-item-title {
    margin-bottom: 20px !important; }
  .Orders-item-sum {
    color: #ffae00; }

.Shop-cover {
  position: relative; }
  .Shop-cover img {
    position: relative;
    display: block;
    z-index: 10; }
  .Shop-cover .desktop {
    display: block; }
    @media screen and (max-width: 979px) and (min-width: 640px) {
      .Shop-cover .desktop {
        display: none; } }
    @media screen and (max-width: 639px) {
      .Shop-cover .desktop {
        display: none; } }
  .Shop-cover .tablet {
    display: none; }
    @media screen and (max-width: 979px) and (min-width: 640px) {
      .Shop-cover .tablet {
        display: block; } }
    @media screen and (max-width: 639px) {
      .Shop-cover .tablet {
        display: none; } }
  .Shop-cover .mobile {
    display: none; }
    @media screen and (max-width: 979px) and (min-width: 640px) {
      .Shop-cover .mobile {
        display: none; } }
    @media screen and (max-width: 639px) {
      .Shop-cover .mobile {
        display: block; } }
.Shop-price {
  position: absolute;
  right: 0;
  bottom: 20px;
  font-size: 24px;
  font-family: "latolight"; }
  @media screen and (max-width: 639px) {
    .Shop-price {
      display: none; } }
  .Shop-price p {
    font-family: "latobold";
    font-size: 37px;
    margin: 0; }
.Shop-light-bg {
  background: #ffefcc none repeat scroll 0 0;
  bottom: -125px;
  height: 163px;
  left: -40px;
  position: absolute;
  width: 437px;
  z-index: 0; }
  @media screen and (max-width: 979px) and (min-width: 640px) {
    .Shop-light-bg {
      width: 410px; } }
  @media screen and (max-width: 639px) {
    .Shop-light-bg {
      width: 342px; } }
.Shop-main-details {
  margin-top: 15px;
  position: relative;
  z-index: 10;
  color: #68141b;
  font-size: 24px; }
  @media screen and (max-width: 639px) {
    .Shop-main-details {
      font-size: 20px;
      margin-top: 23px; } }
  .Shop-main-details p {
    margin: 0;
    font-family: "latolight"; }
    .Shop-main-details p span {
      font-family: "latobold"; }
.Shop-more-details {
  margin-top: 50px;
  font-family: 'latoregular';
  font-size: 14px;
  line-height: 22px; }
  @media screen and (max-width: 639px) {
    .Shop-more-details {
      margin-top: 170px; } }
  .Shop-more-details p {
    margin-top: 22px; }
.Shop-add-to-basket {
  background: #851c28;
  /* Old browsers */
  background: -moz-linear-gradient(top, #851c28 0%, #54101b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #851c28 0%, #54101b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #851c28 0%, #54101b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#851c28', endColorstr='#54101b', GradientType=0);
  /* IE6-9 */
  display: block;
  position: absolute;
  right: -40px;
  bottom: -125px;
  width: 203px;
  height: 125px;
  padding-top: 37px;
  text-align: center;
  box-sizing: border-box;
  z-index: 12;
  cursor: pointer; }
  @media screen and (max-width: 639px) {
    .Shop-add-to-basket {
      right: 27px;
      bottom: -250px; } }
  .Shop-add-to-basket img {
    display: inline; }

.marginAround35 {
  margin: 35px 0; }

.Details {
  font-size: 14px; }
  .Details .pull-left {
    float: left;
    width: 50%; }
    @media screen and (max-width: 639px) {
      .Details .pull-left {
        float: none;
        width: 100%; } }
  .Details p {
    font-family: 'latolight'; }
    .Details p .error {
      padding-bottom: 10px;
      display: block;
      color: #99393e; }
    .Details p span {
      font-family: 'latobold'; }
      .Details p span a {
        text-decoration: underline; }
        @media screen and (max-width: 639px) {
          .Details p span a {
            font-size: 18px; } }

h1.title.narrow {
  line-height: 48px !important; }

.thanks-details {
  font-size: 14px;
  margin-bottom: 120px; }
  @media screen and (max-width: 639px) {
    .thanks-details {
      margin-bottom: 20px; } }

.Thanks {
  font-size: 14px;
  line-height: 22px; }
  .Thanks-bigger {
    font-size: 18px;
    font-family: 'latoregular'; }
    @media screen and (max-width: 639px) {
      .Thanks-bigger {
        font-size: 14px; } }
  .Thanks-details {
    position: relative;
    margin: 30px 0; }
    @media screen and (max-width: 639px) {
      .Thanks-details {
        box-sizing: border-box;
        padding: 20px;
        font-size: 13px; } }
    .Thanks-details:before {
      position: absolute;
      top: -15px;
      left: -25px;
      width: 412px;
      height: 118px;
      content: '';
      border: 1px solid #2b0304; }
      @media screen and (max-width: 639px) {
        .Thanks-details:before {
          width: 260px;
          height: 145px;
          left: 0;
          top: 0; } }
  .Thanks-payu-send {
    background: #a6c307 url("../images/payu_button_desktop.png") no-repeat left top;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 20px 0 0 260px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 290px;
    height: 50px;
    padding: 0; }
    @media screen and (max-width: 979px) and (min-width: 640px) {
      .Thanks-payu-send {
        margin: 20px 0 0 220px; } }
    @media screen and (max-width: 639px) {
      .Thanks-payu-send {
        background: #a6c307 url("../images/payu_button_mobile.png") no-repeat center center;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        margin: 20px 0 20px 16px;
        width: 230px;
        height: 40px; } }
  .Thanks-payu-send:hover {
    background-color: #85b213; }
  .Thanks span {
    color: #ffae00;
    font-family: 'latobold'; }

.Basket .error {
  padding: 0 0 20px 0;
  text-align: center;
  color: #99393e; }
.Basket-item {
  padding: 20px;
  border: 1px solid #2b0304;
  position: relative;
  margin-bottom: 15px; }
  .Basket-item > div:not(.clear) {
    float: left; }
  .Basket-item-details {
    width: 165px;
    margin-left: 15px;
    font-size: 14px;
    font-family: 'latolight'; }
    @media screen and (max-width: 639px) {
      .Basket-item-details {
        width: 100px;
        margin-bottom: 10px; } }
    .Basket-item-details p {
      margin-top: 0; }
      .Basket-item-details p span {
        font-family: 'latobold'; }
  .Basket-item-count {
    margin-top: 25px; }
    .Basket-item-count input[type=text] {
      width: 50px;
      background: #2a0103;
      padding: 18px 10px;
      color: white;
      border: 1px solid #512a2c;
      transition: all 0.2s;
      border-radius: 50px;
      font-size: 14px;
      text-align: center;
      box-sizing: border-box;
      margin-left: 10px;
      margin-right: 10px; }
      .Basket-item-count input[type=text]:focus {
        border-color: #99393e; }
    .Basket-item-count.no-edit {
      margin-top: 40px; }
    .Basket-item-count span {
      font-size: 21px;
      margin: 0 25px;
      vertical-align: middle; }
  .Basket-item-price {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
    font-family: 'latolight'; }
    .Basket-item-price span {
      font-size: 21px;
      padding-top: 5px;
      font-family: 'latoregular';
      display: block; }
  .Basket-item-delete {
    display: block;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 1px solid #2b0304;
    border-left: 1px solid #2b0304;
    padding-top: 14px;
    padding-left: 14px;
    box-sizing: border-box;
    cursor: pointer; }
    .Basket-item-delete:hover {
      background: #2b0304; }
    @media screen and (max-width: 639px) {
      .Basket-item-delete {
        bottom: 0;
        top: auto; } }
.Basket-details {
  font-size: 14px; }
  .Basket-details .pull-left {
    float: left;
    width: 50%; }
    @media screen and (max-width: 639px) {
      .Basket-details .pull-left {
        width: 100%;
        float: none; } }
  .Basket-details-info {
    margin-bottom: 30px;
    text-align: left;
    line-height: 22px; }
    .Basket-details-info p {
      color: #ffefcc;
      font-size: 18px; }
  .Basket-details-shipping-address {
    line-height: 22px; }
    .Basket-details-shipping-address p {
      color: #ffefcc;
      font-size: 18px; }
  .Basket-details-settings {
    color: #ffefcc;
    font-size: 18px;
    margin-top: 30px; }
    .Basket-details-settings span {
      font-size: 14px;
      color: white;
      margin-left: 10px; }
    .Basket-details-settings label {
      display: block;
      padding-left: 25px;
      margin-top: 7px;
      position: relative;
      font-size: 14px;
      color: white; }
      .Basket-details-settings label:after {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 2px;
        left: 0;
        content: '';
        background: url("../images/radio.png") bottom center; }
    .Basket-details-settings input[type=radio] {
      display: none; }
      .Basket-details-settings input[type=radio]:checked + label:after {
        background: url("../images/radio.png") top center; }
    .Basket-details-settings-shipping {
      margin-bottom: 30px; }
    .Basket-details-settings-payment {
      margin-bottom: 7px; }
  .Basket-details-price {
    text-align: right; }
    .Basket-details-price .divider {
      width: 280px;
      height: 3px;
      background: #2b0304; }
      @media screen and (max-width: 639px) {
        .Basket-details-price .divider {
          width: 100%; } }
    .Basket-details-price-shipping {
      margin-top: 5px;
      margin-right: 80px;
      font-family: 'latolight'; }
      @media screen and (max-width: 979px) and (min-width: 640px) {
        .Basket-details-price-shipping {
          margin-right: 55px; } }
      @media screen and (max-width: 639px) {
        .Basket-details-price-shipping {
          margin-right: 62px; } }
      .Basket-details-price-shipping span {
        font-family: 'latoregular';
        color: #f53546;
        font-size: 21px;
        margin-left: 10px; }
    .Basket-details-price-total {
      margin-right: 80px;
      color: #f53546;
      font-size: 21px;
      margin-bottom: 0;
      margin-top: 15px; }
      @media screen and (max-width: 979px) and (min-width: 640px) {
        .Basket-details-price-total {
          margin-right: 55px; } }
      @media screen and (max-width: 639px) {
        .Basket-details-price-total {
          margin-right: 62px; } }
    .Basket-details-price-to-pay {
      margin-right: 80px;
      margin-top: 5px;
      font-family: 'latolight'; }
      @media screen and (max-width: 979px) and (min-width: 640px) {
        .Basket-details-price-to-pay {
          margin-right: 55px; } }
      @media screen and (max-width: 639px) {
        .Basket-details-price-to-pay {
          margin-right: 62px; } }
      .Basket-details-price-to-pay span {
        font-family: 'latoregular';
        color: #ffae00;
        font-size: 21px;
        margin-left: 10px; }

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }

#changePassword {
  background: #2a0103;
  display: none;
  padding: 30px;
  width: 530px;
  height: 470px;
  text-align: center;
  box-sizing: border-box; }
  @media screen and (max-width: 639px) {
    #changePassword {
      width: 90%; } }
  #changePassword h1 {
    font-size: 60px;
    color: #ffefcc;
    font-family: 'latolight';
    margin: 20px 0 40px 0;
    text-align: center;
    font-weight: 300; }
    @media screen and (max-width: 639px) {
      #changePassword h1 {
        font-size: 40px; } }
  #changePassword .form-group {
    margin-bottom: 10px; }
  #changePassword label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px; }
  #changePassword input {
    width: 335px;
    background: #2a0103;
    padding: 18px;
    color: white;
    border: 1px solid #512a2c;
    transition: all 0.2s;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto; }
    #changePassword input:focus {
      border-color: #99393e; }
    @media screen and (max-width: 639px) {
      #changePassword input {
        width: 80%; } }
  #changePassword button {
    border: 0 none;
    height: 53px;
    padding-top: 16px;
    margin-top: 40px;
    cursor: pointer; }

@media screen and (max-width: 639px) {
  .Shop .picture, .Shop p {
    margin-left: 10px !important; } }

@media screen and (max-width: 979px) and (min-width: 640px) {
  .visible-desktop {
    display: none !important; } }
@media screen and (max-width: 639px) {
  .visible-desktop {
    display: none !important; } }

@media screen and (min-width: 980px) {
  .visible-phone {
    display: none; } }
@media screen and (max-width: 979px) and (min-width: 640px) {
  .visible-phone {
    display: none; } }

@media screen and (max-width: 639px) {
  .hidden-phone {
    display: none; } }

@media screen and (min-width: 980px) {
  .hidden-desktop {
    display: none; } }

.phone-seperator {
  width: 35px;
  height: 2px;
  background: #2b0304;
  margin: 10px auto; }

/*# sourceMappingURL=shop.css.map */
