$desktop: "screen and (min-width: 980px)";
$tablet: "screen and (max-width: 979px) and (min-width: 640px)";
$mobile: "screen and (max-width: 639px)";

.send_demo_link {
  display: block;
  width: 180px;
  background: transparent url('../images/send_demo_button.png') no-repeat scroll left top;
  font-family: "source_sans_probold";
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px rgb(41, 4, 6);
  margin: 0px auto;
  text-align: center;
  line-height: 21px;
  height: 21px;
  padding: 19px 0px 15px;
}

.send_demo_link:hover {
  color: rgb(255, 239, 204);
  text-decoration: none;
}

#content .content_left .shop_items {
  margin: 0px 0px 18px;
}

#content .content_left .shop_items .item {
  width: 256px;
  height: 243px;
  float: left;
  border: 1px solid rgb(44, 3, 4);
  margin: 0px 17px 17px 0px;
}

#content .content_left .shop_items .item:nth-child(2n) {
  margin: 0px 0px 17px;
}

#content .content_left .shop_items .item .item-album .picture {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 21px 15px;
}

#content .content_left .shop_items .item .item-album .picture img {
  display: block;
  padding: 0px;
  margin: 0px;
}

#content .content_left .shop_items .item .item-album p {
  margin: 0px 21px 8px;
  padding: 0px;
  font-family: "latolight";
  font-size: 14px;
}

#content .content_left .shop_items .item .item-album p span {
  font-family: "latobold";
}

#content .content_left .shop_items .item .item-album:hover {
  background: rgb(44, 3, 4) none repeat scroll 0% 0%;
}

#content {
  .content_left {
    .shop_items {
      * {
        box-sizing: border-box;
      }

      .item {
        position: relative;

        &-album {
          width: 100%;
          height: 100%;
          display: block;
          padding-top: 21px;

          &:hover {
            text-decoration: none;
          }

          p.margin-bottom-5 {
            margin-bottom: 5px;
          }

          p.price {
            color: #f53546;
            font-size: 21px;
            margin-bottom: 0;
          }
        }

        &-basket {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 10;
          background: #1d0102;
          font-size: 14px;
          color: #ffefcc;
          padding: 10px 18px;
          border-top: 1px solid #2c0304;
          border-left: 1px solid #2c0304;
          cursor: pointer;

          &:hover {
            text-decoration: none;
            background: rgb(44, 3, 4);
          }
        }
      }
    }
  }

  .row {
    width: auto;

    .basket {
      float: left;
      width: 320px;
      min-height: 364px;
      background: #2a0103 url('../images/basket_bg.png') no-repeat scroll left top;
      position: relative;
      padding: 45px 35px;
      box-sizing: border-box;

      * {
        box-sizing: border-box;
      }

      h1 {
        color: rgb(255, 239, 204);
        font-family: "latolight";
        font-weight: normal;
        font-size: 44px;
        line-height: 48px;
        padding: 0;
        margin: 0 0 25px 0;
      }

      .seperator {
        width: 94px;
        height: 3px;
        background: white;
        margin: 15px 0;
      }

      .to-pay {
        font-family: "latolight";
        font-size: 14px;
        margin: 0;
      }

      .to-pay-price {
        margin: 3px 0 0 0;
        color: #f53546;
        font-size: 21px;
      }

      &-entry {
        font-family: "latolight";
        font-size: 14px;

        span {
          font-family: "latobold";
        }
      }

      .go-to-basket {
        display: block;
        width: 180px;
        background: transparent url('../images/send_demo_button.png') no-repeat scroll left top;
        font-family: "source_sans_probold";
        font-size: 14px;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        text-shadow: 0px 1px rgb(41, 4, 6);
        margin: 32px auto 0 auto;
        text-align: center;
        line-height: 21px;
        height: 53px;
        padding: 17px 0px 15px;

        &:hover {
          color: rgb(255, 239, 204);
          text-decoration: none;
        }
      }
    }
  }
}

#top.top-shop {
  #menu_top {
    .user-info {
      font-size: 14px;
      font-family: 'latolight';
      text-align: right;
      padding-top: 20px;

      span {
        font-family: 'latobold';
      }
    }
  }

  &.logged-in {
    .fb {
      right: 170px;
    }
  }

  .fb {
    right: 250px;
    top: 24px;
  }

  .yt {
    right: 280px;
    top: 24px;
  }

  .tw {
    right: 310px;
    top: 24px;
  }

  .sk {
    right: 340px;
    top: 24px;
  }

  .button-rounded {
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'latobold';
    color: white;
    display: block;
    width: 110px;
    height: 30px;
    border: 2px solid white;
    border-radius: 35px;
    position: absolute;
    top: 18px;
    text-align: center;
    padding-top: 5px;

    * {
      box-sizing: border-box;
    }

    &.sign-in {
      right: 0;
    }

    &.create-account {
      right: 120px;
    }

    &.logged-user {
      right: 0;
      display: inline-block;
      width: 150px;
      padding: 5px 20px 0 20px;
      z-index: 10;

      &:hover, &:active, &:focus {
        outline: none;

      }
    }

    &:hover, &.whiteFill {
      background: white;
      color: black;
      text-decoration: none;

      .arrow-down {
        border-top: 4px solid black;
      }
    }

    .arrow-down {
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid white;
      position: absolute;
      top: 11px;
      right: 9px;

    }
  }

  .user-menu {
    display: none;
    background: #731720;
    list-style: none;
    position: absolute;
    right: 0;
    top: 19px;
    width: 150px;
    color: white;
    font-size: 13px;
    font-family: 'latobold';
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;

    li {
      margin-top: 10px;
    }
  }

}

.Profile {
  .error {
    padding: 0 0 20px 60px;
    text-align: center;
    color: #99393e;
  }

  .success {
    text-align: center;
    padding: 30px 0;
    color: #fff;
    margin: 0;
  }

  .form-group {
    height: 65px;

    @media #{$mobile} {
      height: auto;
    }

    &.marginTop25 {
      margin-top: 25px;
    }

    label {
      font-size: 14px;
      text-align: right;
      font-family: 'latobold';
      width: 105px;
      margin-right: 22px;
      display: block;
      float: left;
      margin-top: 19px;

      @media #{$mobile} {
        text-align: center;
        width: 100%;
        float: none;
        margin-bottom: 5px;
      }

      &.marginTop5 {
        margin-top: 7px;

        @media #{$mobile} {
          margin-top: 45px;
        }
      }
    }

    input[type=text], input[type=password] {
      width: 335px;
      background: #2a0103;
      padding: 18px;
      color: white;
      border: 1px solid #512a2c;
      transition: all 0.2s;
      border-radius: 50px;
      font-size: 14px;
      text-align: center;

      &:focus {
        border-color: #99393e;
      }

      @media #{$tablet} {
        width: 295px;
      }

      @media #{$mobile} {
        width: 222px;
      }
    }

    button[type=submit],
    input[type=submit] {
      @extend .send_demo_link;

      border: 0;
      height: 53px;
      padding: 17px;
      margin-top: 40px;
      cursor: pointer;

      @media #{$mobile} {
        margin-bottom: 20px;
      }
    }
  }
}

.marginTop35 {
  margin-top: 35px;
}

.Main-btn {
  @extend .send_demo_link;

  display: inline-block !important;
  margin: 0 !important;
  padding-top: 17px;
}

.pullRightABit {
  margin-left: 260px;

  @media #{$tablet} {
    margin-left: 220px;
  }

  @media #{$mobile} {
    margin-left: 0px;
    text-align: center;
  }
}

.pullRightABitLess {
  margin-left: 120px;

  @media #{$mobile} {
    margin-left: 0 !important;
    text-align: center;

    .Main-btn {
      margin-bottom: 10px;
    }
  }
}

.seperator {
  width: 3px;
  height: 35px;
  display: inline-block;
  background: #2b0304;
  vertical-align: middle;
  margin: 0 23px;
}

.Link-btn {
  display: inline-block;
}

.Orders {
  .pull-left {
    float: left;
    width: 50%;

    @media #{$mobile} {
      float: none;
      width: 100%;
    }
  }

  &-item {
    border: 1px solid #2c0304;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'latolight';
    transition: all 0.2s;

    & > div {
      &:nth-child(2) {
        @media #{$mobile} {
          margin-bottom: 20px;
        }
      }
    }

    &:hover {
      border-color: #99393e;
    }

    .strong {
      font-family: 'latobold';
    }

    p {
      margin-top: 0;
      margin-bottom: 5px;
    }

    &-status {
      margin: 25px 0 15px 0 !important;
      font-family: 'latobold';

      @media #{$mobile} {
        margin-bottom: 0 !important;
      }

      &-new {
        color: #eb7400;
      }

      &-confirmed {
        color: #00f0ff;
      }

      &-waiting {
        color: #f53546;
      }

      &-in-progress {
        color: #15a1db;
      }

      &-realised {
        color: #09cd5c;
      }
    }

    &-title {
      margin-bottom: 20px !important;
    }

    &-sum {
      color: #ffae00;
    }
  }
}

.Shop {
  &-cover {
    position: relative;

    img {
      position: relative;
      display: block;
      z-index: 10;
    }

    .desktop {
      display: block;

      @media #{$tablet} {
        display: none;
      }

      @media #{$mobile} {
        display: none;
      }
    }

    .tablet {
      display: none;

      @media #{$tablet} {
        display: block;
      }

      @media #{$mobile} {
        display: none;
      }
    }

    .mobile {
      display: none;

      @media #{$tablet} {
        display: none;
      }

      @media #{$mobile} {
        display: block;
      }
    }
  }

  &-price {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-size: 24px;
    font-family: "latolight";

    @media #{$mobile} {
      display: none;
    }

    p {
      font-family: "latobold";
      font-size: 37px;
      margin: 0;
    }
  }

  &-light-bg {
    background: #ffefcc none repeat scroll 0 0;
    bottom: -125px;
    height: 163px;
    left: -40px;
    position: absolute;
    width: 437px;
    z-index: 0;

    @media #{$tablet} {
      width: 410px;
    }

    @media #{$mobile} {
      width: 342px;
    }
  }

  &-main-details {
    margin-top: 15px;
    position: relative;
    z-index: 10;
    color: #68141b;
    font-size: 24px;

    @media #{$mobile} {
      font-size: 20px;
      margin-top: 23px;
    }

    p {
      margin: 0;
      font-family: "latolight";

      span {
        font-family: "latobold";
      }
    }
  }

  &-more-details {
    margin-top: 50px;
    font-family: 'latoregular';
    font-size: 14px;
    line-height: 22px;

    @media #{$mobile} {
      margin-top: 170px;
    }

    p {
      margin-top: 22px;
    }
  }

  &-add-to-basket {
    background: #851c28; /* Old browsers */
    background: -moz-linear-gradient(top, #851c28 0%, #54101b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #851c28 0%, #54101b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #851c28 0%, #54101b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#851c28', endColorstr='#54101b', GradientType=0); /* IE6-9 */

    display: block;
    position: absolute;
    right: -40px;
    bottom: -125px;
    width: 203px;
    height: 125px;
    padding-top: 37px;
    text-align: center;
    box-sizing: border-box;
    z-index: 12;
    cursor: pointer;

    @media #{$mobile} {
      right: 27px;
      bottom: -250px;
    }

    img {
      display: inline;
    }
  }
}

.marginAround35 {
  margin: 35px 0;
}

.Details {
  font-size: 14px;

  .pull-left {
    float: left;
    width: 50%;

    @media #{$mobile} {
      float: none;
      width: 100%;
    }
  }

  p {
    font-family: 'latolight';

    .error {
      padding-bottom: 10px;
      display: block;
      color: #99393e;
    }

    span {
      font-family: 'latobold';

      a {
        text-decoration: underline;

        @media #{$mobile} {
          font-size: 18px;
        }
      }
    }
  }
}

h1.title.narrow {
  line-height: 48px !important;
}

.thanks-details {
  font-size: 14px;
  margin-bottom: 120px;

  @media #{$mobile} {
    margin-bottom: 20px;
  }
}

.Thanks {
  font-size: 14px;
  line-height: 22px;

  &-bigger {
    font-size: 18px;
    font-family: 'latoregular';

    @media #{$mobile} {
      font-size: 14px;
    }
  }

  &-details {
    position: relative;
    margin: 30px 0;

    @media #{$mobile} {
      box-sizing: border-box;
      padding: 20px;
      font-size: 13px;
    }

    &:before {
      position: absolute;
      top: -15px;
      left: -25px;
      width: 412px;
      height: 118px;
      content: '';
      border: 1px solid #2b0304;

      @media #{$mobile} {
        width: 260px;
        height: 145px;

        left: 0;
        top: 0;
      }
    }
  }

  &-payu-send {
    background: #a6c307 url('../images/payu_button_desktop.png') no-repeat left top;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 20px 0 0 260px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 290px;
    height: 50px;
    padding: 0;

    @media #{$tablet} {
      margin: 20px 0 0 220px;
    }

    @media #{$mobile} {
      background: #a6c307 url('../images/payu_button_mobile.png') no-repeat center center;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      margin: 20px 0 20px 16px;
      width: 230px;
      height: 40px;
    }
  }

  &-payu-send:hover {
    background-color: #85b213;
  }

  span {
    color: #ffae00;
    font-family: 'latobold';
  }
}

.Basket {
  .error {
    padding: 0 0 20px 0;
    text-align: center;
    color: #99393e;
  }

  &-item {
    padding: 20px;
    border: 1px solid #2b0304;
    position: relative;
    margin-bottom: 15px;

    & > div:not(.clear) {
      float: left;
    }

    &-details {
      width: 165px;
      margin-left: 15px;
      font-size: 14px;
      font-family: 'latolight';

      @media #{$mobile} {
        width: 100px;
        margin-bottom: 10px;
      }

      p {
        margin-top: 0;

        span {
          font-family: 'latobold';
        }
      }
    }

    &-count {
      margin-top: 25px;

      input[type=text] {
        width: 50px;
        background: #2a0103;
        padding: 18px 10px;
        color: white;
        border: 1px solid #512a2c;
        transition: all 0.2s;
        border-radius: 50px;
        font-size: 14px;
        text-align: center;
        box-sizing: border-box;
        margin-left: 10px;
        margin-right: 10px;

        &:focus {
          border-color: #99393e;
        }
      }

      &.no-edit {
        margin-top: 40px;
      }

      span {
        font-size: 21px;
        margin: 0 25px;
        vertical-align: middle;
      }
    }

    &-price {
      margin-left: 10px;
      margin-top: 5px;
      font-size: 14px;
      font-family: 'latolight';

      span {
        font-size: 21px;
        padding-top: 5px;
        font-family: 'latoregular';
        display: block;
      }
    }

    &-delete {
      display: block;

      width: 44px;
      height: 44px;

      position: absolute;
      top: 0;
      right: 0;

      border-bottom: 1px solid #2b0304;
      border-left: 1px solid #2b0304;

      padding-top: 14px;
      padding-left: 14px;

      box-sizing: border-box;

      cursor: pointer;

      &:hover {
        background: #2b0304;
      }

      @media #{$mobile} {
        bottom: 0;
        top: auto;
      }
    }
  }

  &-details {
    font-size: 14px;

    .pull-left {
      float: left;
      width: 50%;

      @media #{$mobile} {
        width: 100%;
        float: none;
      }
    }

    &-info {
      margin-bottom: 30px;
      text-align: left;
      line-height: 22px;

      p {
        color: #ffefcc;
        font-size: 18px;
      }
    }

    &-shipping-address {
      line-height: 22px;

      p {
        color: #ffefcc;
        font-size: 18px;
      }
    }

    &-settings {
      color: #ffefcc;
      font-size: 18px;
      margin-top: 30px;

      span {
        font-size: 14px;
        color: white;
        margin-left: 10px;
      }

      label {
        display: block;
        padding-left: 25px;
        margin-top: 7px;
        position: relative;
        font-size: 14px;
        color: white;

        &:after {
          width: 12px;
          height: 12px;
          position: absolute;
          top: 2px;
          left: 0;
          content: '';
          background: url('../images/radio.png') bottom center;
        }
      }

      input[type=radio] {
        display: none;

        &:checked + label:after {
          background: url('../images/radio.png') top center;
        }
      }

      &-shipping {
        margin-bottom: 30px;
      }

      &-payment {
        margin-bottom: 7px;
      }
    }

    &-price {
      text-align: right;

      .divider {
        width: 280px;
        height: 3px;
        background: #2b0304;

        @media #{$mobile} {
          width: 100%;
        }
      }

      &-shipping {
        margin-top: 5px;
        margin-right: 80px;
        font-family: 'latolight';

        @media #{$tablet} {
          margin-right: 55px;
        }

        @media #{$mobile} {
          margin-right: 62px;
        }

        span {
          font-family: 'latoregular';
          color: #f53546;
          font-size: 21px;
          margin-left: 10px;
        }
      }

      &-total {
        margin-right: 80px;
        color: #f53546;
        font-size: 21px;
        margin-bottom: 0;
        margin-top: 15px;

        @media #{$tablet} {
          margin-right: 55px;
        }

        @media #{$mobile} {
          margin-right: 62px;
        }
      }

      &-to-pay {
        margin-right: 80px;
        margin-top: 5px;
        font-family: 'latolight';

        @media #{$tablet} {
          margin-right: 55px;
        }

        @media #{$mobile} {
          margin-right: 62px;
        }

        span {
          font-family: 'latoregular';
          color: #ffae00;
          font-size: 21px;
          margin-left: 10px;
        }
      }
    }
  }

}

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

#changePassword {
  background: #2a0103;
  display: none;
  padding: 30px;
  width: 530px;
  height: 470px;
  text-align: center;
  box-sizing: border-box;

  @media #{$mobile} {
    width: 90%;
  }

  h1 {
    font-size: 60px;
    color: #ffefcc;
    font-family: 'latolight';
    margin: 20px 0 40px 0;
    text-align: center;
    font-weight: 300;

    @media #{$mobile} {
      font-size: 40px;
    }
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }

  input {
    width: 335px;
    background: #2a0103;
    padding: 18px;
    color: white;
    border: 1px solid #512a2c;
    transition: all 0.2s;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;

    &:focus {
      border-color: #99393e;
    }

    @media #{$mobile} {
      width: 80%;
    }
  }

  button {
    @extend .send_demo_link;

    border: 0 none;
    height: 53px;
    padding-top: 16px;
    margin-top: 40px;
    cursor: pointer;
  }
}

.Shop {
  .picture, p {
    @media #{$mobile} {
      margin-left: 10px !important;
    }
  }
}

.visible-desktop {
  @media #{$tablet} {
    display: none !important;
  }

  @media #{$mobile} {
    display: none !important;
  }
}

.visible-phone {
  @media #{$desktop} {
    display: none;
  }

  @media #{$tablet} {
    display: none;
  }
}

.hidden-phone {
  @media #{$mobile} {
    display: none;
  }
}

.hidden-desktop {
  @media #{$desktop} {
    display: none;
  }
}

.phone-seperator {
  width: 35px;
  height: 2px;
  background: #2b0304;
  margin: 10px auto;
}
