@import 'font/font.css';

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'latoregular';
    border: 0;
    color: #fff;
    background: #000 url('../images/bg.jpg') no-repeat top center;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #ffefcc;
}

.clear {
    clear: both;
}

#under_top {
    width: 100%;
    height: 100px;
    background: url('../images/carrer.png') no-repeat top center;
    position: absolute;
    min-width: 960px;
    top: 189px;
    left: 0;
    z-index: 1;
}

#under_top.main {
    top: 439px;
}

#top {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 90px;
    z-index: 2;
}

#top .logo {
    display: block;
    margin: 33px 0 0;
    width: 228px;
    height: 51px;
    position: relative;
    float: left;
}

#top .logo img {
    display: block;
    margin: 0;
    padding: 0;
}

#top #menu_top {
    display: block;
    float: right;
    margin: 51px 0 0;
    padding: 0;
    list-style: none;
}

#top #menu_top li {
    float: left;
    margin: 0;
    padding: 0;
}

#top #menu_top li a {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'latobold';
    font-size: 14px;
    line-height: 20px;
}

#top #menu_top li:hover a, #top #menu_top li a.selected {
    text-decoration: underline;
    color: #ffefcc;
}

#top #menu_top li + li a {
    margin: 0 0 0 38px;
}

#top .fb {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 14px;
    right: 1px;
    background: transparent url('../images/fb.png') no-repeat left top;
}

#top .yt {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 14px;
    right: 31px;
    background: transparent url('../images/yt.png') no-repeat left top;
}

#top .tw {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 14px;
    right: 61px;
    background: transparent url('../images/tw.png') no-repeat left top;
}

#top .sk {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 14px;
    right: 91px;
    background: transparent url('../images/sk.png') no-repeat scroll 0px 0px;
}

#content {
    margin: 0 auto;
    width: 960px;
    z-index: 3;
    position: relative;
}

#content .row {
    margin: 0;
    width: 960px;
    height: 364px;
}

#content .row .main_send_demo {
    float: left;
    width: 320px;
    height: 364px;
    background: url('../images/note_1.png') no-repeat top left;
    position: relative;
}

#content .row .main_send_demo p {
    font-family: 'latobold';
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: -8px 0 18px;
    padding: 0;
}

#content .row .main_send_demo span {
    display: block;
    width: 27px;
    height: 3px;
    background: #fff;
    margin: 0 auto;
}

#content .row .main_send_demo p + span + p {
    font-size: 14px;
    line-height: 18px;
    color: #ffefcc;
    margin: 16px 0 26px;
}

#content .row .main_send_demo .send_demo_link {
    display: block;
    width: 180px;
    background: url('../images/send_demo_button.png') no-repeat left top;
    font-family: 'source_sans_probold';
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 1px #290406;
    margin: 0 auto;
    text-align: center;
    line-height: 21px;
    height: 21px;
    padding: 19px 0 15px;
}

#content .row .main_send_demo .send_demo_link:hover {
    color: #ffefcc;
    text-decoration: none;
}

#content .row .main_send_demo .start_carrer {
    width: 239px;
    height: 100px;
    background: url('../images/carrer.png') no-repeat right -32px top;
    text-indent: -5000px;
    position: relative;
    left: 81px;
    top: -15px;
}

#content .row .main_header {
    line-height: 48px;
    font-size: 48px;
    font-family: 'latolight';
    font-weight: normal;
    padding: 74px 0 0;
    margin: 0;
}

#content .row .main_header + p {
    line-height: 24px;
    font-size: 18px;
    font-family: 'latobold';
    color: #ffefcc;
    padding: 11px 0 0;
    margin: 18px 0;
}

#content .row .main_know_us {
    float: left;
    width: 174px;
    height: 18px;
    line-height: 18px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border: 2px solid #fff;
    padding: 17px 0 13px;
    text-align: center;
    font-family: 'source_sans_probold';
    text-transform: uppercase;
    font-size: 14px;
    margin: 22px 0 0;
}

#content .row .main_know_us:hover {
    border-color: #ffefcc;
    text-decoration: none;
    cursor: pointer;
}

#content .row .main_questons {
    float: left;
    padding: 19px 0 15px 24px;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffefcc;
    font-family: 'source_sans_probold';
    margin: 22px 0 0;
}

#content .row .main_questons a {
    color: #ffefcc;
}

#content .news_big {
    margin: 0;
    width: 640px;
    height: 364px;
    float: left;
    position: relative;
    cursor: pointer;
}

#content .news_big .image .desktop {
    display: block;
}

#content .news_big .image .tablet {
    display: none;
}

#content .news_big .image .smartphone {
    display: none;
}

#content .news_big .extra_content {
    width: 274px;
    position: absolute;
    left: 640px;
    top: 0;
    background: #ffefcc;
    display: none;
    cursor: auto;
    padding: 0 20px 36px 26px;
    overflow: hidden;
}

#content .news_small + .news_big .extra_content {
    left: -320px;
}

#content .news_small {
    margin: 0;
    width: 320px;
    height: 364px;
    float: left;
    position: relative;
    cursor: pointer;
}

#content .news_small .image .desktop {
    display: block;
}

#content .news_small .image .tablet {
    display: none;
}

#content .news_small .image .smartphone {
    display: none;
}

#content .news_small .extra_content {
    width: 594px;
    position: absolute;
    left: 320px;
    top: 0;
    background: #ffefcc;
    display: none;
    cursor: auto;
    padding: 0 20px 36px 26px;
    overflow: hidden;
}

#content .content_right .news_small .extra_content {
    left: -640px;
}

#content .news_big + .news_small .extra_content {
    left: -640px;
}

#content .close_small, #content .close_big {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background: url('../images/close_1.png') no-repeat top left;
    text-indent: -5000px;
}

#content .news_big img, #content .news_small img {
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#content .news_big .mask, #content .news_small .mask {
    height: 364px;
    width: 100%;
    background: url('../images/mask_1.png') no-repeat left bottom;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#content .extra_content .title {
    text-transform: uppercase;
    font-family: 'latobold';
    font-size: 18px;
    line-height: 18px;
    color: #252525;
    padding: 48px 0 4px;
}

#content .extra_content .extra_date {
    font-size: 12px;
    line-height: 14px;
    font-family: 'latobold';
    color: #b44444;
    border-bottom: 3px solid #b44444;
    float: left;
    padding: 0 0 19px;
    margin: 0 0 19px;
}

#content .extra_content .extra_video {
    font-family: 'latobold';
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    color: #b44444;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border: 2px solid #b44444;
    text-align: center;
    padding: 15px 0 11px;
    width: 146px;
    display: block;
    margin: 6px 0 0;
}

#content .extra_content .empik {
    font-family: 'latobold';
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    color: #b44444;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border: 2px solid #b44444;
    text-align: center;
    padding: 15px 0 11px;
    width: 216px;
    display: block;
    margin: 14px 0 0;
}

#content .extra_content p {
    font-size: 14px;
    line-height: 22px;
    font-family: 'latoregular';
    color: #252525;
    padding: 0;
    margin: 0;
}

#content .extra_content strong,
#content .extra_content b {
    font-family: 'latobold';
}

#content .news_big h3,
#content .news_small h3,
#content .news_big .date,
#content .news_small .date {
    font-family: 'latobold';
    z-index: 2;
    line-height: 36px;
    color: #fff;
    position: absolute;
    left: 40px;
}

#content .news_big h3,
#content .news_small h3 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    bottom: 71px;
    text-transform: uppercase;
}

#content .news_big h3 {
    padding: 0 60px 0 0;
}

#content .news_big .date,
#content .news_small .date {
    font-size: 12px;
    width: 94px;
    border-bottom: 3px solid #fff;
    bottom: 23px;
}

#content .content_left {
    width: 560px;
    float: left;
    margin: 114px 0 0;
    background: #1d0102;
    padding: 0 40px 43px 40px;
}

#content .content_left h1.title {
    color: #ffefcc;
    font-family: 'latolight';
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    margin: 30px 0;
    padding: 0;
}

#content .loadmoreajaxloader {
    background-image: -moz-linear-gradient(90deg, rgb(85, 14, 18) 0%, rgb(130, 27, 39) 100%);
    border: 1px solid #a31b20;
    border-radius: 22px;
    box-shadow: 0 2px 0 0 rgba(55, 10, 12, 0.004);
    height: 32px;
    margin: 20px auto 0;
    padding: 10px;
    width: 32px;
}

#content .content_left .text {
    display: block;
    padding: 0;
    margin: 0 0 7px;
    line-height: 22px;
    font-size: 14px;
}

#content .content_left .text img {
    float: left;
    margin: 4px 20px 8px 0;
}

#content .content_left .text p {
    padding: 0;
    margin: 0;
}

#content .content_left .text strong,
#content .content_left .text b {
    font-family: "latobold";
}

#content .content_left .text .header {
    font-family: 'latobold';
    line-height: 36px;
    font-size: 30px;
    padding: 7px 0;
}

#content .content_left .text .address {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 7px;
}

#content .content_left .text .box {
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #2c0304;
    width: 291px;
    height: 91px;
    padding: 0 0 0 75px;
    margin: 0 0 17px -23px;
    background: url('../images/contact_pictogram_1.png') no-repeat 21px 14px;
}

#content .content_left .text .box + .box {
    background: url('../images/contact_pictogram_2.png') no-repeat 21px 14px;
}

#content .content_left .text .box span {
    font-family: 'latobold';
    display: block;
    margin: 13px 0 1px;
    font-size: 18px;
    line-height: 22px;
    color: #ffefcc;
}

#content .content_left.page .photo .desktop {
    display: block;
}

#content .content_left.page .photo .tablet {
    display: none;
}

#content .content_left.page .photo .smartphone {
    display: none;
}

#content .content_left .katalog_item_details .photo {
    margin: 0;
    padding: 0;
    display: block;
    width: 397px;
    height: 397px;
}

#content .content_left .katalog_item_details {
    padding: 0 0 26px;
}

#content .content_left .katalog_item_details .photo .desktop {
    display: block;
}

#content .content_left .katalog_item_details .photo .mobile {
    display: none;
}

#content .content_left .white_text {
    background: #ffefcc;
    color: #68141b;
    font-size: 24px;
    line-height: 30px;
    font-family: 'latolight';
    width: 560px;
    padding: 56px 40px 16px;
    margin: -41px 0 23px -40px;
}

#content .content_left .white_text p {
    margin: 0;
    padding: 0;
}

#content .content_left .white_text p span {
    font-family: 'latobold';
}

#content .content_left .image img {
    display: block;
    padding: 0;
    margin: 0;
}

#content .content_left .video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

#content .content_left .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#content .content_left .map {
    width: 560px;
    height: 274px;
    margin: -2px 0 7px;
}

#content .content_left .katalog_items {
    margin: 0 0 18px;
}

#content .content_left .katalog_items .item {
    width: 256px;
    height: 243px;
    float: left;
    border: 1px solid #2c0304;
    margin: 0 17px 17px 0;
}

#content .content_left .katalog_items .item:nth-child(even) {
    margin: 0 0 17px 0;
}

#content .content_left .katalog_items .item .picture {
    display: block;
    width: 100px;
    height: 100px;
    margin: 21px 21px 15px;
}

#content .content_left .katalog_items .item .picture img {
    display: block;
    padding: 0;
    margin: 0;
}

#content .content_left .katalog_items .item p {
    margin: 0 21px 8px;
    padding: 0;
    font-family: 'latolight';
    font-size: 14px;
}

#content .content_left .katalog_items .item p span {
    font-family: 'latobold';
}

#content .content_left .katalog_items .item a.more {
    display: block;
    margin: 0 21px;
    padding: 0;
    color: #ffefcc;
    font-family: 'latobold';
    font-size: 14px;
}

#content .content_left .katalog_items .item:hover {
    background: #2c0304;
}

#content .content_left .management_items {
    width: 566px;
    margin: 0 0 0 -6px;
    padding: 4px 0;
}

#content .content_left .management_items .item {
    border: 1px solid #2c0304;
    width: 564px;
    margin: 0 0 4px;
}

#content .content_left .management_items .item .photo {
    display: block;
    margin: 4px;
    padding: 0;
    width: 194px;
    height: 206px;
    overflow: hidden;
    float: left;
}

#content .content_left .management_items .item .photo img {
    display: block;
    margin: 0;
    padding: 0;
}

#content .content_left .management_items .item .details {
    margin: 24px;
    padding: 0;
    width: 313px;
    overflow: hidden;
    float: left;
}

#content .content_left .management_items .item .details .name {
    display: block;
    font-family: 'latobold';
    font-size: 30px;
    line-height: 32px;
    margin: 20px 0 0;
}

#content .content_left .management_items .item .details .name:hover {
    text-decoration: none;
}

#content .content_left .management_items .item .details .desc {
    font-family: 'latoregular';
    font-size: 14px;
    line-height: 18px;
    margin: 5px 0 7px;
}

#content .content_left .management_items .item .details .more {
    display: block;
    margin: 0;
    padding: 0;
    color: #ffefcc;
    font-family: 'latobold';
    font-size: 14px;
}

#content .content_left .details_name {
    display: block;
    font-family: 'latobold';
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 19px;
    padding: 7px 0 0;
}

#content .content_left .management_items .item:hover {
    background: #2c0304;
}

#content .content_right {
    width: 320px;
    float: left;
    margin: 114px 0 0;
}

#content .content_right .news_small h3 {
    padding-right: 10px;
    font-size: 30px;
}

#footer {
    margin: 67px auto 0;
    width: 960px;
    height: 230px;
    z-index: 2;
    position: relative;
}

#footer #menu_bottom {
    margin: 0 0 0 2px;
    display: block;
    float: left;
    padding: 0;
    list-style: none;
}

#footer #menu_bottom li {
    float: left;
    margin: 0;
    padding: 0;
}

#footer #menu_bottom li a {
    display: block;
    margin: 0;
    padding: 0;
    font-family: latobold;
    font-size: 12px;
    line-height: 16px;
}

#footer #menu_bottom li:hover a, #footer #menu_bottom li.current a {
    text-decoration: underline;
    color: #ffefcc;
}

#footer #menu_bottom li + li a {
    margin: 0 0 0 46px;
}

#footer .copyrights {
    float: right;
    padding: 45px 0 0;
    text-align: right;
    font-size: 12px;
    line-height: 18px;
    width: 120px;
    margin: 0;
    background: url('../images/logo_2.png') no-repeat right 0;
}

.labels {
    font-family: 'source_sans_probold';
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
    color: #820101;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    background: url("../images/icon_red_dot.png") no-repeat 0px 4px;
    padding: 0 0 0 17px;
    line-height: 20px;
}

.black_mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: black;
    opacity: 0.75;
    z-index: 9998;
    top: 0;
    left: 0;
    display: none;
}

.send_demo {
    width: 640px;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    background: url('../images/note_2.png') no-repeat top center;
    position: absolute;
    z-index: 9999;
    top: 58px;
    display: none;
}

.send_demo .content {
    width: 528px;
    min-height: 400px;
    overflow: hidden;
    background: #2a0103 url('../images/note_2.png') no-repeat center -34px;
    margin: 34px auto 0;
}

.send_demo .content .title_demo {
    font-size: 60px;
    color: #ffefcc;
    line-height: 68px;
    font-family: latolight;
    text-align: center;
    margin: 45px 0 40px;
}

.send_demo .content label {
    display: block;
    font-family: 'source_sans_probold';
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 0 0 6px;
}

.send_demo .content input[type=text], .send_demo .content textarea {
    display: block;
    width: 312px;
    height: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    background: #2a0103;
    border: solid 1px #512a2c;
    outline: none;
    padding: 16px 10px 14px;
    line-height: 22px;
    text-align: center;
    font-family: 'source_sans_probold';
    font-size: 14px;
    color: #fff;
    margin: 0 auto 16px;
}

.send_demo .content textarea {
    height: 22px;
    text-align: left;
    min-height: 66px;
    resize: vertical;
    margin: 0 auto 11px;
}

.send_demo .content input[type=text]:focus, .send_demo .content textarea:focus {
    border: solid 1px #99393e;
}

.send_demo .content span {
    font-size: 14px;
    display: block;
    font-family: 'source_sans_proregular';
    line-height: 22px;
    text-align: center;
}

.send_demo .content .upload-progress {
    margin: 0px auto;
    display: none;
    width: 334px;
    height: 7px;
}

.send_demo .content .upload-progress .progress {
    border: solid 1px #99393e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 5px;
}

.upload-progress .progress .bar {
    background-color: #99393e;
    height: 5px;
}

.send_demo .content .buttons {
    text-align: center;
}

.send_demo .content .buttons .fileinput-button {
    margin: 7px auto 25px auto;
    text-align: center;
    width: 100px;
}

.send_demo .content .buttons .fileinput-button .add_attachment {
    font-size: 14px;
    display: inline-block;
    font-family: 'source_sans_probold';
    color: #ffefcc;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.send_demo .content .buttons .send_demo_submit {
    display: inline-block;
    width: 180px;
    background: url('../images/send_demo_button.png') no-repeat top left;
    font-family: 'source_sans_probold';
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 1px #290406;
    text-align: center;
    line-height: 21px;
    height: 55px;
    padding: 19px 0 15px;
    cursor: pointer;
    margin: 0 auto 46px;
    border: none;
}

.send_demo .content .send_demo_submit:hover {
    color: #ffefcc;
    text-decoration: none;
}

#top #menu_top li.show_hide {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 979px) and (min-width: 640px) {
    #under_top,
    #footer #menu_bottom,
    #top .fb,
    #top .yt,
    #top .tw,
    #content .content_right,
    .send_demo,
    .main_send_demo {
        display: none !important;
    }

    #content .content_left {
        padding: 0px 34px 43px 33px;
        margin: 70px 0 0;
        width: 533px;
    }

    #content, #top, #footer {
        width: 600px;
    }

    #footer {
        margin: 44px auto 0;
    }

    #footer .copyrights {
        padding: 29px 0 0;
        width: 100%;
        text-align: left;
        background: url('../images/logo_2.png') no-repeat left 0;
    }

    #content .row {
        margin: 0 0 24px;
        width: 600px;
        height: 364px;
    }

    #content .row + .row {
        margin: 0;
    }

    #top {
        overflow: hidden;
        min-height: 90px;
        height: auto;
    }

    #top #menu_top {
        overflow: hidden;
        float: right;
        list-style: none;
        width: 150px;
        position: relative;
        height: 32px;
    }

    #top #menu_top li:first-child {
        margin: 42px 0 0;
    }

    #top #menu_top li {
        display: block;
        margin: 6px 0 0;
        float: none;
    }

    #top #menu_top li a {
        display: block;
        color: #fff;
        font-size: 14px;
        line-height: 22px;
        margin: 0 !important;
        text-align: right;
    }

    #top #menu_top li.show_hide {
        background: url('../images/menu.png') no-repeat top left;
        width: 36px;
        height: 26px;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
    }

    #content .news_big {
        width: 600px;
    }

    #content .news_big .extra_content {
        width: 554px;
        position: absolute;
        left: 0;
        top: 0;
        background: #ffefcc;
        display: none;
        cursor: auto;
        padding: 0 20px 36px 26px;
        overflow: hidden;
    }

    #content .news_small + .news_big .extra_content {
        left: 0;
    }

    #content .news_small {
        width: 300px;
    }

    #content .news_small .extra_content {
        width: 554px;
        position: absolute;
        left: -300px;
        top: 0;
        background: #ffefcc;
        display: none;
        cursor: auto;
        padding: 0 20px 36px 26px;
        overflow: hidden;
    }

    #content .news_big .image .desktop {
        display: none;
    }

    #content .news_big .image .tablet {
        display: block;
    }

    #content .news_big .image .smartphone {
        display: none;
    }

    #content .news_small .image .desktop {
        display: none;
    }

    #content .news_small .image .tablet {
        display: block;
    }

    #content .news_small .image .smartphone {
        display: none;
    }

    #content .news_big + .news_small .extra_content {
        left: 0;
    }

    #content .content_left.page .photo .desktop {
        display: none;
    }

    #content .content_left.page .photo .tablet {
        display: block;
    }

    #content .content_left.page .photo .smartphone {
        display: none;
    }

    #content .content_left .katalog_item_details .photo {
        width: 224px;
        height: 224px;
    }

    #content .content_left .katalog_item_details .photo .desktop {
        display: none;
    }

    #content .content_left .katalog_item_details .photo .mobile {
        display: block;
    }

    #content .content_left .management_items {
        width: 536px;
        margin: 0 0 0 -1px;
        padding: 4px 0px;
    }

    #content .content_left .management_items .item {
        width: 534px;
    }

    #content .content_left .management_items .item .details {
        width: 284px;
    }

    #content .content_left .white_text {
        width: 520px;
        padding: 56px 40px 16px;
        margin: -41px 0px 23px -33px;
    }

    #content .content_left .map {
        width: 530px;
    }
}

@media screen and (max-width: 639px) {
    body {
        min-width: 300px;
    }

    #under_top,
    #footer #menu_bottom,
    #top .fb,
    #top .yt,
    #top .tw,
    #content .content_right,
    .send_demo,
    .main_send_demo {
        display: none !important;
    }

    #content .content_left {
        margin: 70px 0 0;
    }

    #content, #top, #footer {
        width: 300px;
    }

    #footer {
        margin: 38px auto 0;
    }

    #footer .copyrights {
        padding: 29px 0 0;
        width: 100%;
        text-align: left;
        background: url('../images/logo_2.png') no-repeat left 0;
    }

    #content .row {
        margin: 0 0 32px;
        width: 300px;
        height: auto;
    }

    #content .row + .row {
        height: 364px;
        margin: 0;
    }

    #top {
        overflow: hidden;
        min-height: 90px;
        height: auto;
    }

    #top #menu_top {
        overflow: hidden;
        float: right;
        list-style: none;
        width: 150px;
        position: relative;
        height: 32px;
    }

    #top #menu_top li:first-child {
        margin: 42px 0 0;
    }

    #top #menu_top li {
        display: block;
        margin: 6px 0 0;
        float: none;
    }

    #top #menu_top li a {
        display: block;
        color: #fff;
        font-size: 14px;
        line-height: 22px;
        margin: 0 !important;
        text-align: right;
    }

    #top #menu_top li.show_hide {
        background: url('../images/menu.png') no-repeat top left;
        width: 36px;
        height: 26px;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
    }

    #content .news_small {
        margin: 0;
        width: 300px;
        height: 364px;
        float: left;
        position: relative;
        cursor: pointer;
    }

    #content .news_big {
        margin: 0;
        width: 300px;
        height: 364px;
        float: left;
        position: relative;
        cursor: pointer;
    }

    #content .news_small .image, #content .news_big .image {
        width: 300px;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
    }

    #content .news_big img, #content .news_small img {
        position: relative;
        display: block;
        margin: 0 auto;
    }

    #content .news_big .image .desktop {
        display: none;
    }

    #content .news_big .image .tablet {
        display: none;
    }

    #content .news_big .image .smartphone {
        display: block;
    }

    #content .news_small .image .desktop {
        display: none;
    }

    #content .news_small .image .tablet {
        display: none;
    }

    #content .news_small .image .smartphone {
        display: block;
    }

    #content .news_big .extra_content {
        width: 254px;
        left: 0;
        overflow: hidden;
    }

    #content .news_small + .news_big .extra_content {
        left: 0;
    }

    #content .news_small .extra_content {
        width: 254px;
        left: 0;
        overflow: hidden;
    }

    #content .news_big + .news_small .extra_content {
        left: 0;
    }

    #content .news_big h3, #content .news_small h3 {
        font-size: 30px;
        line-height: 32px;
    }

    #content .news_big h3,
    #content .news_small h3,
    #content .news_big .date,
    #content .news_small .date {
        left: 20px;
    }

    #top .logo {
        width: 44px;
        overflow: hidden;
    }

    #content .row .main_header {
        line-height: 36px;
        font-size: 40px;
        color: #fff;
        padding: 71px 0 0;
    }

    #content .row .main_header + p {
        line-height: 22px;
        font-size: 14px;
        margin: 9px 0 3px;
    }

    #top #menu_top {
        margin: 44px 0 0;
    }

    #content .row .main_questons {
        float: left;
        width: 260px;
        height: 18px;
        line-height: 18px;
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        border-radius: 22px;
        border: 2px solid #fff;
        padding: 17px 0 13px;
        text-align: center;
        font-family: 'source_sans_probold';
        text-transform: uppercase;
        font-size: 14px;
        margin: 22px 0 0;
    }

    #content .content_left {
        width: 260px;
        padding: 0 20px 20px 20px;
    }

    #content .content_left .image {
        overflow: hidden;
        position: relative;
        width: 260px;
    }

    #content .content_left .image img {
        display: block;
        padding: 0;
        margin: 0;
        position: relative;
        left: -150px;
    }

    #content .content_left h1.title {
        font-size: 48px;
        line-height: 48px;
    }

    #content .content_left.page .photo .desktop {
        display: none;
    }

    #content .content_left.page .photo .tablet {
        display: none;
    }

    #content .content_left.page .photo .smartphone {
        display: block;
    }

    #content .content_left .katalog_items .item {
        width: 258px;
        margin: 0 17px 10px 0;
    }

    #content .content_left .katalog_items .item .picture {
        margin: 21px 21px 15px 9px;
    }

    #content .content_left .katalog_items .item p {
        margin: 0 21px 8px 9px;
    }

    #content .content_left .katalog_items .item a.more {
        margin: 0 21px 0 9px;
    }

    #content .content_left .katalog_items {
        margin: 0;
    }

    #content .content_left .white_text {
        margin: -41px 0 23px -20px;
        width: 220px;
    }

    #content .content_left .white_text p span {
        display: block;
    }

    #content .content_left .katalog_item_details .photo {
        width: 224px;
        height: 224px;
    }

    #content .content_left .katalog_item_details .photo .desktop {
        display: none;
    }

    #content .content_left .katalog_item_details .photo .mobile {
        display: block;
    }

    #content .content_left .management_items {
        margin: 0 0 -6px;
        width: auto;
    }

    #content .content_left .management_items .item {
        width: 258px;
        margin: 0 0 13px;
    }

    #content .content_left .management_items .item .photo {
        margin: 9px 9px 0;
        float: none;
    }

    #content .content_left .management_items .item .details {
        float: none;
        width: auto;
        margin: -3px 10px 22px;
    }

    #content .content_left .text img {
        float: none;
    }

    #content .content_left .details_name {
        line-height: 32px;
        padding: 7px 0 0;
        margin: 0 10px 19px 0;
    }

    #content .content_left .video {
        display: none;
    }

    #content .content_left .map {
        width: 260px;
    }

    #content .content_left .text .header {
        margin: 0 50px 4px 0;
        line-height: 30px;
    }

    #content .content_left .text .box {
        font-size: 14px;
        line-height: 22px;
        border: 1px solid #2c0304;
        width: auto;
        height: 91px;
        padding: 44px 0 12px 20px;
        margin: 0 0 17px;
    }

    #content .content_left .text .address {
        margin: 0 0 10px;
    }
}