{% extends '::frontend.html.twig' %}

{% block title %}Booking - {{ parent() }}{% endblock %}

{% block body %}

    <div class="content_left">
        <h1 class="title">Booking</h1>

        <div class="management_items">
            {% for entity in entities %}
                <div class="item">
                    <a class="photo" href="{{ path('ls_booking_show', {'slug' : entity.slug}) }}">
                        <img src="{{ entity.getThumbWebPath('small') }}" alt="" />
                    </a>

                    <div class="details">
                        <a class="name" href="{{ path('ls_booking_show', {'slug' : entity.slug}) }}">{{ entity.title }}</a>

                        <div class="desc">
                            {{ entity.contentshort }}
                        </div>
                        <a class="more" href="{{ path('ls_booking_show', {'slug' : entity.slug}) }}">Dowiedz się więcej</a>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}
