{% extends '::frontend.html.twig' %}

{% block title %}Booking - {{ entity.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ parent() }} {{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ parent() }} {{ entity.seokeywords }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Booking</h1>

        <div class="details_name">{{ entity.title }}</div>
        <div class="text">
            <img src="{{ entity.getThumbWebPath('small') }}" />
            {{ entity.content | raw }}
        </div>
        {% if entity.movieurl|length > 0 %}
            <div class="video">
                <iframe width="560" height="315" src="http://www.youtube.com/embed/{{ entity.movieurl }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endif %}
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}