{% extends '::frontend.html.twig' %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Kontakt</h1>

        <div class="text">
            <div class="header">{{ cms_config.get('contact_name', '') }}</div>
            <div class="address">{{ cms_config.get('contact_street', '') }}
                <br />{{ cms_config.get('contact_postal', '') }}&nbsp;{{ cms_config.get('contact_city', '') }}</div>
            <div class="box">
                <span>Biuro:</span>
                tel.: {{ cms_config.get('contact_office_phone', '') }}<br />
                adres e-mail: <a href="mailto:{{ cms_config.get('contact_office_email', '') }}">{{ cms_config.get('contact_office_email', '') }}</a>
            </div>

            <div class="box">
                <span>Booking koncertowy:</span>
                tel.: {{ cms_config.get('contact_booking_phone', '') }}<br />
                adres e-mail: <a href="mailto:{{ cms_config.get('contact_booking_email', '') }}">{{ cms_config.get('contact_booking_email', '') }}</a>
            </div>

        </div>
        <div id="map_canvas" class="map">
        </div>
    </div>

    <div class="content_right">
    	{% if news_left is not empty %}
	        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
	    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
        var map;

        function initMap() {
            var myLatLng = new google.maps.LatLng({{ cms_config.get('map_latitude', '') }}, {{ cms_config.get('map_longitude', '') }});

            map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 16,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: '{{ cms_config.get('contact_name', '') }}'
            });
        }

        google.maps.event.addDomListener(window, 'resize', function () {
            map.setCenter(myLatLng);
        });

        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
{% endblock %}
