{% extends '::frontend.html.twig' %}

{% block body %}
    <div class="row">
        <h2 class="main_header">{{ cms_config.get('text_main_title', '') }}</h2>

        <p>{{ cms_config.get('text_main_content', '') | nl2br }}</p>

        <div>
            <a class="main_know_us" href="{{ cms_config.get('url_blizej', '') }}">Poznaj nas bliżej</a>
            <span class="main_questons">Masz pytania - <a href="{{ path('ls_core_contact') }}">skontaktuj się</a>!</span>

            <div class="clear"></div>
        </div>
    </div>
    {% set news_type = 1 %}
    <div class="news-container">
        {% for news_item in news %}
            <div class="{% if news_type == 1 %}news_big{% else %}news_small{% endif %}">
                <div class="image">
                    {% if news_type == 1 %}
                        <img class="desktop" src="{{ news_item.getThumbWebPath('big_desktop') }}" alt="">
                        <img class="tablet" src="{{ news_item.getThumbWebPath('big_mobile') }}" alt="">
                        <img class="smartphone" src="{{ news_item.getThumbWebPath('small_mobile') }}" alt="">
                    {% else %}
                        <img class="desktop" src="{{ news_item.getThumbWebPath('small_desktop') }}" alt="">
                        <img class="tablet" src="{{ news_item.getThumbWebPath('small_mobile') }}" alt="">
                        <img class="smartphone" src="{{ news_item.getThumbWebPath('small_mobile') }}" alt="">
                    {% endif %}
                </div>
                <div class="mask"></div>
                <h3>{{ news_item.title }}</h3>

                <div class="date">{{ news_item.publishedat | date('d.m.Y') }}</div>
                <div class="extra_content">
                    <a class="{% if news_type == 1 %}close_big{% else %}close_small{% endif %}">close</a>

                    <div class="title">
                        {{ news_item.title }}
                    </div>
                    <div class="clear"></div>
                    <div class="extra_date">
                        {{ news_item.publishedat | date('d.m.Y') }}
                    </div>
                    <div class="clear"></div>
                    {{ news_item.content | raw }}
                    {% if news_item.videourl | length > 0 %}
                        <a class="extra_video" href="{{ news_item.videourl }}" target="_blank">Zobacz teledysk</a>
                    {% endif %}
                    {% if news_item.recordurl | length > 0 %}
                        <a class="empik" href="{{ news_item.recordurl }}" target="_blank">Zamów płytę na empik.com</a>
                    {% endif %}
                </div>
            </div>
            {% if loop.index is odd %}
                {% set news_type = news_type * -1 %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="loadmoreajaxloader" style="display:none;">
        <img src="{{ asset('bundles/lscore/images/loader.gif') }}" />
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var news_loading = false;
        var news_loading_page = 1;
        var news_loading_allow = {{ allow }};

        $(window).scroll(function () {
            if ($(window).scrollTop() > ($(document).height() - $(window).height() - $('#footer').outerHeight() + 60)) {
                if (news_loading_allow == true && news_loading == false) {
                    news_loading = true;
                    $('.loadmoreajaxloader').show();
                    $.ajax({
                        type: 'post',
                        url: '{{ path('ls_core_news_more') }}',
                        data: {
                            page: news_loading_page
                        },
                        success: function (response) {
                            news_loading_page++;
                            news_loading_allow = response.allow;
                            $(".news-container").append(response.html);
                            $('.loadmoreajaxloader').hide();
                            news_loading = false;
                        }
                    });
                }
            }
        });
    </script>
{% endblock %}
