{% if page is odd %}
    {% set news_type = -1 %}
{% else %}
    {% set news_type = 1 %}
{% endif %}
{% for news in news %}
    {% if loop.first %}
        <div class="row">
    {% endif %}
    <div class="{% if news_type == 1 %}news_big{% else %}news_small{% endif %}">
        <div class="image">
            {% if news_type == 1 %}
                <img class="desktop" src="{{ news.getThumbWebPath('big_desktop') }}" alt="">
                <img class="tablet" src="{{ news.getThumbWebPath('big_mobile') }}" alt="">
                <img class="smartphone" src="{{ news.getThumbWebPath('small_mobile') }}" alt="">
            {% else %}
                <img class="desktop" src="{{ news.getThumbWebPath('small_desktop') }}" alt="">
                <img class="tablet" src="{{ news.getThumbWebPath('small_mobile') }}" alt="">
                <img class="smartphone" src="{{ news.getThumbWebPath('small_mobile') }}" alt="">
            {% endif %}
        </div>
        <div class="mask"></div>
        <h3>{{ news.title }}</h3>

        <div class="date">{{ news.publishedat | date('d.m.Y') }}</div>
        <div class="extra_content">
            <a class="{% if news_type == 1 %}close_big{% else %}close_small{% endif %}">close</a>

            <div class="title">
                {{ news.title }}
            </div>
            <div class="clear"></div>
            <div class="extra_date">
                {{ news.publishedat | date('d.m.Y') }}
            </div>
            <div class="clear"></div>
            {{ news.content | raw }}
            {% if news.videourl | length > 0 %}
                <a class="extra_video" href="{{ news.videourl }}" target="_blank">Zobacz teledysk</a>
            {% endif %}
            {% if news.recordurl | length > 0 %}
                <a class="empik" href="{{ news.recordurl }}" target="_blank">Zamów płytę na empik.com</a>
            {% endif %}
        </div>
    </div>
    {% if (loop.index is divisibleby(2)) and not loop.last %}
        </div>
        <div class="row">
    {% endif %}
    {% if loop.last %}
        </div>
    {% endif %}
    {% if loop.index is odd %}
        {% set news_type = news_type * -1 %}
    {% endif %}
{% endfor %}
