<div class="row">
    <div class="basket">
        <h1 class="title">Twój koszyk</h1>
        <p class="basket-entry" data-ng-repeat="item in shop.items">
            <span>{{ '{{ item.object.author }}' }},<br> "{{ '{{ item.object.title }}' }}"</span> x {{ '{{ item.quantity }}' }}
        </p>

        <div class="seperator"></div>
        <p class="to-pay">Do zapłaty (+ koszt przesyłki):</p>
        <p class="to-pay-price">{{ '{{ shop.totalWithDeliveryString }}' }}</p>

        <a href="{{ path('ls_basket') }}" class="go-to-basket">Przejdź do koszyka</a>
    </div>
</div>
<div class="row">
    <div class="news-container">
        <div class="news_small">
            <div class="image">
                <img src="{{ news.getThumbWebPath('small_desktop') }}" alt="">
            </div>
            <div class="mask"></div>
            <h3>{{ news.title }}</h3>

            <div class="date">{{ news.publishedat | date('d.m.Y') }}</div>
            <div class="extra_content">
                <a class="close_small">close</a>

                <div class="title">{{ news.title }}</div>
                <div class="clear"></div>
                <div class="extra_date">{{ news.publishedat | date('d.m.Y') }}</div>
                <div class="clear"></div>
                {{ news.content | raw }}
                {% if news.videourl | length > 0 %}
                    <a class="extra_video" href="{{ news.videourl }}" target="_blank">Zobacz teledysk</a>
                {% endif %}
                {% if news.recordurl | length > 0 %}
                    <a class="empik" href="{{ news.recordurl }}" target="_blank">Zamów płytę na empik.com</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
