@import 'font/font.css';

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'latoregular';
    border: 0;
    color: #fff;
    background: #000 url('../images/bg.jpg') no-repeat top center;
    min-width: 960px;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #ffefcc;
}

.clear {
    clear: both;
}

#top {
    margin: 0 auto;
    width: 960px;
    position: relative;
}

#top .logo {
    display: block;
    margin: 36px auto 0;
    width: 228px;
    height: 51px;
    position: relative;
}

#top .logo img {
    display: block;
    margin: 0;
    padding: 0;
}

#top > div {
    margin: 90px auto 0;
    width: 960px;
    position: relative;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    font-family: 'latolight';
}

#top > div > b {
    margin: 8px 0 0;
    display: block;
    font-family: 'latobold';
    color: #ffefcc;
    font-size: 24px;
}

#top .fb {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url('../images/fb.png') no-repeat 0 0;
}

#content {
    margin: 0 auto;
    width: 960px;
}

#content .box {
    width: 172px;
    height: 244px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border: 2px solid #fff;
    line-height: 20px;
    font-size: 14px;
    font-family: 'latobold';
    text-align: center;
}

#content .box div:first-child {
    margin-top: 111px;
}

#content #box_1 {
    background: url('../images/icon_1.png') no-repeat center 37px;
    margin: 67px 0 0 140px;
    float: left;
}

#content #box_2 {
    background: url('../images/icon_2.png') no-repeat center 39px;
    margin: 67px 0 0 76px;
    float: left;
}

#content #box_3 {
    background: url('../images/icon_3.png') no-repeat center 37px;
    margin: 67px 0 0 76px;
    float: left;
}

#footer {
    margin: 186px auto 0;
    width: 960px;
}

#footer > div {
    padding: 34px 0 0;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    width: 120px;
    margin: 0 auto;
    background: url('../images/logo2.png') no-repeat center 0;
}