{% extends '::frontend.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block body %}
    <div class="content_left page">
        <h1 class="title">{{ entity.title }}</h1>

        <div class="text">{{ entity.content | raw }}</div>
        <div class="photo">
            <img class="desktop" src="{{ entity.getThumbWebPath('desktop') }}" alt="">
            <img class="tablet" src="{{ entity.getThumbWebPath('tablet') }}" alt="">
            <img class="smartphone" src="{{ entity.getThumbWebPath('smartphone') }}" alt="">
        </div>
    </div>

    <div class="content_right">
    	{% if news_left is not empty %}
        	{% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    	{% endif %}
    </div>
{% endblock %}
