{% extends '::frontend.html.twig' %}

{% block title %}Anulowanie - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title narrow hidden-phone">Anulowanie.</h1>
        <h1 class="title narrow visible-phone">Anulowanie.</h1>

        <p class="thanks-details">{{ message }}</p>
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}
