{% extends '::frontend.html.twig' %}

{% block title %}Twoje dane - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Twoje dane</h1>

        <div class="Details" data-ng-if="shop.userExists == true">
            <div class="pull-left">
                <p>Imię: <span>{{ '{{ shop.customer.firstname }}' }}</span></p>

                <p>Telefon: <span>{{ '{{ shop.customer.phone }}' }}</span></p>

                <p>Ulica i nr domu: <span>{{ '{{ shop.customer.street }}' }}</span></p>

                <p>Miasto: <span>{{ '{{ shop.customer.city }}' }}</span></p>
            </div>
            <div class="pull-left">
                <p>Nazwisko: <span>{{ '{{ shop.customer.lastname }}' }}</span></p>

                <p>E-mail: <span>{{ '{{ shop.customer.email }}' }}</span></p>

                <p>Kod pocztowy: <span>{{ '{{ shop.customer.zip }}' }}</span></p>
            </div>
            <div class="clear"></div>


            <p class="marginAround35">
                <span class="error" data-ng-if="shop.userDataError.length > 0" data-ng-bind="shop.userDataError"></span>
                <span>W celu zmiany danych kontaktowych, przejdź do <a href="{{ path('ls_user_profile') }}">edycji profilu</a>.</span>
            </p>
        </div>

        <div class="form-group marginTop35 pullRightABit" data-ng-if="shop.userExists == true">
            <a href="{{ path('ls_basket') }}" class="Link-btn hidden-phone">Wstecz</a>

            <div class="seperator hidden-phone"></div>
            <a href="{{ path('ls_basket_summary') }}" class="Main-btn" data-ng-click="shop.checkUserData($event)">Podsumowanie</a>
            <div class="phone-seperator visible-phone"></div>
            <a href="{{ path('ls_basket') }}" class="Link-btn visible-phone">Wstecz</a>
        </div>

        <form class="Profile" data-ng-if="shop.userExists == false">
            <div class="form-group">
                <label>Imię:</label>
                <input class="form-customer-firstname" type="text" data-ng-model="shop.customer.firstname" data-ng-change="shop.storeCustomer()" />
            </div>
            <div class="form-group">
                <label>Nazwisko:</label>
                <input class="form-customer-lastname" type="text" data-ng-model="shop.customer.lastname" data-ng-change="shop.storeCustomer()" />
            </div>
            <p><em>Prosimy o podanie numeru telefonu lub adresu email.</em></p>
            <div class="form-group">
                <label>Telefon:</label>
                <input class="form-customer-phone" type="text" data-ng-model="shop.customer.phone" data-ng-change="shop.storeCustomer()" />
            </div>
            <div class="form-group">
                <label>E-mail:</label>
                <input class="form-customer-email" type="text" data-ng-model="shop.customer.email" data-ng-change="shop.storeCustomer()" />
            </div>

            <div class="form-group marginTop25">
                <label class="marginTop5">Ulica<br />i nr domu:</label>
                <input class="form-customer-street" type="text" data-ng-model="shop.customer.street" data-ng-change="shop.storeCustomer()" />
            </div>
            <div class="form-group">
                <label>Kod pocztowy:</label>
                <input class="form-customer-zip" type="text" data-ng-model="shop.customer.zip" data-ng-change="shop.storeCustomer()" />
            </div>
            <div class="form-group">
                <label>Miasto:</label>
                <input class="form-customer-city" type="text" data-ng-model="shop.customer.city" data-ng-change="shop.storeCustomer()" />
            </div>
            <div class="form-group marginTop35 pullRightABit">
                <a href="{{ path('ls_basket') }}" class="Link-btn hidden-phone">Wstecz</a>
                <div class="seperator hidden-phone"></div>
                <a href="{{ path('ls_basket_summary') }}" class="Main-btn" data-ng-click="shop.updateCustomer($event)">Podsumowanie</a>
                <div class="phone-seperator visible-phone"></div>
                <a href="{{ path('ls_basket') }}" class="Link-btn visible-phone">Wstecz</a>
            </div>
        </form>
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:sklep_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}
