{% extends '::frontend.html.twig' %}

{% block title %}Koszyk - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title">Koszyk</h1>
        <div class="Basket">
            <div class="item-container" data-ng-repeat="item in shop.items">
                <div class="error" data-ng-if="item.quantityError.length > 0">{{ '{{ item.quantityError }}' }}</div>
                <div class="Basket-item">
                    <div class="Basket-item-image">
                        <img src="{{ '{{ item.object.photoUrl }}' }}" />
                    </div>
                    <div class="Basket-item-details">
                        <p>
                            Autor: <br />
                            <span>{{ '{{ item.object.author }}' }}</span>
                        </p>

                        <p>
                            Tytuł: <br />
                            <span>"{{ '{{ item.object.title }}' }}"</span>
                        </p>
                    </div>
                    <div class="Basket-item-count">
                        x
                        <input type="text" data-ng-model="item.quantity" data-ng-change="shop.updateTotal()" />
                        =
                    </div>
                    <div class="Basket-item-price">
                        <p>
                            Cena: <br />
                            <span>{{ '{{ item.totalString }}' }}</span>
                        </p>
                    </div>
                    <a class="Basket-item-delete" data-ng-click="shop.removeFromBasket(item.id);">
                        <img src="{{ asset('bundles/lscore/images/close.png') }}" />
                    </a>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="Basket-details">
                <!-- Poniższy blok dwukrotnie na stronie dla telefonow i desktopów -->
                <div class="pull-left Basket-details-price visible-phone">
                    <p class="Basket-details-price-total">{{ '{{ shop.totalString }}' }}</p>
                    <p class="Basket-details-price-shipping">Koszt dostawy: <span>{{ '{{ shop.deliveryCostString }}' }}</span></p>
                    <div class="divider"></div>
                    <p class="Basket-details-price-to-pay">Do zapłaty: <span>{{ '{{ shop.totalWithDeliveryString }}' }}</span></p>
                </div>
                <div class="pull-left Basket-details-settings">
                    <p class="Basket-details-settings-shipping">Dostawa: <span>Kurier</span></p>

                    <p class="Basket-details-settings-payment">Płatność:</p>

                    <div data-ng-repeat="item in shop.paymentFormNames">
                        <input id="payment-form-{{ '{{ item.id }}' }}" type="radio" name="paymentForm" data-ng-model="shop.paymentForm" data-ng-value="item.id" data-ng-change='shop.updatePaymentForm()' />
                        <label for="payment-form-{{ '{{ item.id }}' }}" data-ng-bind="item.name"></label>
                    </div>
                </div>

                <!-- Poniższy blok dwukrotnie na stronie dla telefonow i desktopów -->
                <div class="pull-left Basket-details-price hidden-phone">
                    <p class="Basket-details-price-total">{{ '{{ shop.totalString }}' }}</p>
                    <p class="Basket-details-price-shipping">Koszt dostawy: <span>{{ '{{ shop.deliveryCostString }}' }}</span></p>
                    <div class="divider"></div>
                    <p class="Basket-details-price-to-pay">Do zapłaty: <span>{{ '{{ shop.totalWithDeliveryString }}' }}</span></p>
                </div>
                <div class="clear"></div>
            </div>


            <div class="form-group marginTop35 pullRightABitLess">
                <a class="Link-btn hidden-phone" href="{{ path('ls_product') }}">Kontynuuj zakupy</a>

                <div class="seperator hidden-phone" data-ng-if="shop.items.length > 0"></div>
                <a href="{{ path('ls_basket_customer_data') }}" class="Main-btn" data-ng-if="shop.items.length > 0" data-ng-click="shop.checkQuantity($event)">Zamawiaj</a>

                <div class="phone-seperator visible-phone"></div>

                <a class="Link-btn visible-phone" href="{{ path('ls_product') }}">Kontynuuj zakupy</a>
            </div>
        </div>
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}
