{% extends '::frontend.html.twig' %}

{% block title %}Płatność PayU - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title narrow">Płatność PayU</h1>

        <div class="Thanks">
            <p>Wybrano sposób płatności przy pomocy PayU. Płatności nie będzie można wykonać w późniejszym terminie.<br />Kliknij poniżej, aby rozpocząć.</p>
            <form id="payu-form" action="{{ data.url }}" method="post" name="payform" onsubmit="return startPayment();">
                <input type="hidden" name="first_name" value="{{ data.first_name }}" />
                <input type="hidden" name="last_name" value="{{ data.last_name }}" />
                <input type="hidden" name="email" value="{{ data.email }}" />
                <input type="hidden" name="pos_id" value="{{ data.pos_id }}" />
                <input type="hidden" name="pos_auth_key" value="{{ data.pos_auth_key }}" />
                <input type="hidden" name="session_id" value="{{ data.session_id }}" />
                <input type="hidden" name="amount" value="{{ data.amount }}" />
                <input type="hidden" name="ts" value="{{ data.ts }}" />
                <input type="hidden" name="sig" value="{{ data.sig }}" />
                <input type="hidden" name="desc" value="{{ data.desc }}" />
                <input type="hidden" name="client_ip" value="{{ data.client_ip }}" />
                <input type="hidden" name="js" value="0">
                <button type="submit" class="Thanks-payu-send"></button>
            </form>
        </div>
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var send_payu = false;
        function startPayment() {
            if (send_payu) {
                return true;
            } else {
                $.ajax({
                    type: 'post',
                    url: '{{ path('ls_basket_payu_started') }}',
                    data: {
                        'session': '{{ data.session_id }}'
                    },
                    success: function (response) {
                        if (response == 'OK') {
                            send_payu = true;
                            $('#payu-form').submit();
                        }
                    }
                });
                return false;
            }
        }
    </script>
{% endblock %}

