{% extends '::frontend.html.twig' %}

{% block title %}Płatność PayU - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title narrow">Płatność PayU</h1>

        <div class="Thanks">
            <p>Płatność została już rozpoczęta. Oczekuj wiadomości mailowej o zmianie statusu zamówienia.</p>
        </div>
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}
