{% extends '::frontend.html.twig' %}

{% block title %}Podsumowanie - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title hidden-phone">Podsumowanie</h1>
        <h1 class="title visible-phone">Podsumow.</h1>

        <div class="Basket">
            <div class="Basket-item" data-ng-repeat="item in shop.items">
                <div class="Basket-item-image">
                    <img src="{{ '{{ item.object.photoUrl }}' }}" />
                </div>
                <div class="Basket-item-details">
                    <p>
                        Autor: <br />
                        <span>{{ '{{ item.object.author }}' }}</span>
                    </p>

                    <p>
                        Tytuł: <br />
                        <span>"{{ '{{ item.object.title }}' }}"</span>
                    </p>
                </div>
                <div class="Basket-item-count no-edit">
                    x
                    <span>{{ '{{ item.quantity }}' }}</span>
                    =
                </div>
                <div class="Basket-item-price">
                    <p>
                        Cena: <br />
                        <span>{{ '{{ item.totalString }}' }}</span>
                    </p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="Basket-details">
                <div class="pull-left Basket-details-shipping-address">
                    <p>Adres dostawy:</p>
                    {{ '{{ shop.customer.firstname }}' }} {{ '{{ shop.customer.lastname }}' }}<br />
                    {{ '{{ shop.customer.street }}' }}<br />
                    {{ '{{ shop.customer.zip }}' }}, {{ '{{ shop.customer.city }}' }}<br />
                    tel. {{ '{{ shop.customer.phone }}' }}
                </div>
                <div class="pull-left Basket-details-price">
                    <div class="Basket-details-info">
                        <p>Informacje:</p>
                        Przewidywany termin wysyłki: 24h<br />
                        Forma dostawy: Kurier ({{ '{{ shop.deliveryCostString }}' }})<br />
                        Forma płaności: {{ '{{ shop.deliveryFormString }}' }}
                    </div>

                    <div class="divider"></div>
                    <p class="Basket-details-price-to-pay">
                        Do zapłaty: <span>{{ '{{ shop.totalWithDeliveryString }}' }}</span>
                    </p>
                </div>
                <div class="clear"></div>
            </div>


            <div class="form-group marginTop35 pullRightABit">
                <a href="{{ path('ls_basket_customer_data') }}" class="Link-btn hidden-phone">Wstecz</a>
                <div class="seperator hidden-phone"></div>
                <a href class="Main-btn" data-ng-click="shop.sendOrder()">Potwierdzam i płacę</a>
                <div class="phone-seperator visible-phone"></div>
                <a href="{{ path('ls_basket_customer_data') }}" class="Link-btn visible-phone">Wstecz</a>

            </div>
        </div>
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}
