{% extends '::frontend.html.twig' %}

{% block title %}Podziekowanie - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title narrow hidden-phone">Dziękujemy za dokonanie zakupów w naszym sklepie.</h1>
        <h1 class="title narrow visible-phone">Dziękujemy za zakupy.</h1>

        <div class="Thanks">
            <p class="Thanks-bigger">Prosimy o wpłatę pieniędzy <span>({{ total }})</span> na konto:</p>
            <div class="Thanks-details">
                {{ cms_config.get('contact_name', '') }}<br />
                {{ cms_config.get('contact_street', '') }}<br />
                {{ cms_config.get('contact_postal', '') }} {{ cms_config.get('contact_city', '') }}<br />
                Nr konta bankowego: <br class="visible-phone" /><span>{{ cms_config.get('bank_account', '') }}</span>
            </div>
            <p>O zmianie statusu zamówienia będą Państwo powiadomieni drogą mailową.</p>
        </div>
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}
