{% extends '::frontend.html.twig' %}

{% block title %}Podziekowanie - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content_left">
        <h1 class="title narrow hidden-phone">Dziękujemy za dokonanie zakupów w naszym sklepie.</h1>
        <h1 class="title narrow visible-phone">Dziękujemy za zakupy.</h1>

        <p class="thanks-details">O zmianie statusu zamówienia będą Państwo powiadomieni drogą mailową.</p>
    </div>

    <div class="content_right">
        {% include "LsCoreBundle:Default:content_left.html.twig" with { news: random(news_left) } %}
    </div>
{% endblock %}
