<div class="title_demo">Wyślij demo</div>
{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'onsubmit': 'return submitDemoForm();', 'id': 'form-demo'}}) }}
{{ form_label(form.name) }}
{{ form_widget(form.name, {'attr': {'class': 'form-demo-name' }}) }}
{{ form_label(form.email) }}
{{ form_widget(form.email, {'attr': {'class': 'form-demo-email' }}) }}
{{ form_label(form.content) }}
{{ form_widget(form.content, {'attr': {'class': 'form-demo-content' }}) }}
<div id="demo-files">
</div>
<div class="upload-progress">
    <div class="progress">
        <div class="bar"></div>
    </div>
</div>
<div class="buttons">
    <div class="fileinput-button">
        <input id="add_attachment" type="file" data-url="{{ asset('bundles/lscore/js/fileupload/server/php/index.php') }}" />
        <a class="add_attachment">Dodaj załącznik</a>
    </div>
    {{ form_widget(form.submit, {'attr': {'class': 'send_demo_submit' }}) }}
</div>
{{ form_end(form) }}