{% extends '::backend.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/lscore/js/jcrop/jquery.Jcrop.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lscore/js/jcrop/jquery.Jcrop.min.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        var jcrop_api;
        var boundx;
        var boundy;
        function showPreview(coords) {
            var rx = parseInt({{ preview.width }}, 10) / coords.w;
            var ry = parseInt({{ preview.height }}, 10) / coords.h;
            $('#foto_kadr_x').val(Math.round(coords.x));
            $('#foto_kadr_y').val(Math.round(coords.y));
            $('#foto_kadr_x2').val(Math.round(coords.x2));
            $('#foto_kadr_y2').val(Math.round(coords.y2));
            $('.preview').css({
                width: Math.round(rx * {{ thumb_conf.photo_width }}) + 'px',
                height: Math.round(ry * {{ thumb_conf.photo_height }}) + 'px',
                marginLeft: '-' + Math.round(rx * coords.x) + 'px',
                marginTop: '-' + Math.round(ry * coords.y) + 'px'
            });
        }

        function releaseCheck() {
            this.setOptions({setSelect: [{{ thumb_conf.x }}, {{ thumb_conf.y }}, {{ thumb_conf.width }}, {{ thumb_conf.height }}]});
        }

        $(document).ready(function () {
            $('.preview-container').css({
                width: {{ preview.width }} +'px',
                height: {{ preview.height }} +'px'
            });
            $('.image').Jcrop({
                onChange: showPreview,
                onSelect: showPreview,
                onRelease: releaseCheck,
                aspectRatio: {{ aspect }},
                minSize: [{{ size.width }}, {{ size.height }}],
                trueSize: [{{ thumb_conf.photo_width }}, {{ thumb_conf.photo_height }}],
                allowSelect: false
            }, function () {
                // Store the API in the jcrop_api variable
                jcrop_api = this;
                var bounds = jcrop_api.getBounds();
                boundx = bounds[0];
                boundy = bounds[1];
                // Move the preview into the jcrop container for css positioning
                jcrop_api.animateTo([{{ thumb_conf.x }}, {{ thumb_conf.y }}, {{ thumb_conf.width }}, {{ thumb_conf.height }}]);

            });
        });
    </script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_product_edit', {'id': entity.id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i>
                Powrót do edycji
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" action="{{ path('ls_admin_product_crop_save', {'id': entity.id, 'type' : type}) }}" method="post">
                <div class="table-responsive" style="padding-bottom: 20px;">
                    <table>
                        <tr>
                            <td style="padding-right: 20px;">
                                <img class="image" src="{{ entity.getPhotoWebPath() }}" style="width: 500px;" />
                            </td>
                            <td style="vertical-align: top;">
                                <div class="preview-container" style="overflow: hidden;">
                                    <img class="preview" src="{{ entity.getPhotoWebPath() }}" style="max-width: none;" />
                                </div>
                                <input type="hidden" name="x" id="foto_kadr_x" value="0" />
                                <input type="hidden" name="y" id="foto_kadr_y" value="0" />
                                <input type="hidden" name="x2" id="foto_kadr_x2" value="0" />
                                <input type="hidden" name="y2" id="foto_kadr_y2" value="0" />
                                <input type="hidden" name="type" value="{{ type }}" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" name="submit">Zapisz</button>
                    <a class="btn btn-default" title="Wróć do edycji" href="{{ path('ls_admin_product_edit', {'id': entity.id}) }}">
                        <i class="icon-edit"></i>
                        Wróć do edycji
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}